[2016-03-07 04:55] mblondel opened #1 "Logo"
@fabianp I saw that you started working on a logo for the contrib. Thanks a lot for tackling this. I think the current logo is a bit hard to distinguish from the scikit-learn logo. What do you think of using different colors?

[2016-03-07 04:57] mblondel opened #2 "Add rudimentary website"
We need a rudimentary website for the contrib, including a list of projects and details of the workflow for inclusion of new projects as detailed by @jakevdp.

[2016-03-07 06:37] fabianp commented on #1
Sure, I just wanted a placeholder  but have no problem changing it.
On Mar 7, 2016 5:55 AM, "Mathieu Blondel" <notifications@github.com> wrote:

[2016-03-07 06:57] fabianp commented on #1
If you would like me to do it just let me know the colors you had in mind.

[2016-03-07 08:09] mblondel commented on #1
I don't have any specific colors in mind. I think the best would be to try a few different combinations and ask everyone's opinion.

[2016-03-30 14:25] mblondel commented on #2
Closing for now. We can add a fancier website when we have more projects to list.

[2016-03-30 14:25] #2 closed

[2016-03-30 14:31] mblondel opened #3 "Project documentations"
For lightning, @fabianp and I pushed the documentation to the `scikit-learn-contrib.github.io` project while for project-template @vighneshbirodkar pushed the documentation to the `gh-pages` branch of the project. It's not completely clear yet to me what are the benefits of one approach or the other but we should definitely be consistent, especially if more projects join the organization. Any opin

[2016-03-30 15:14] jeff1evesque opened #4 "Consider adding jeff1evesque/machine-learning repository"
Request for project inclusion in scikit-learn-contrib

* Project name: Machine Learning
* Project description: Programmatic / Web interface to scikit-learn's svm classification
* Authors: Jeff Levesque
* Current repository: https://github.com/jeff1evesque/machine-learning
* Requirements:
 * [ ] scikit-learn compatible (check_estimator passed)
 * [ ] Documentation (guide, API reference, example gal

[2016-03-30 15:49] mblondel commented on #4
I don't think a web interface is in the scope of scikit-learn-contrib. We want new algorithms that adhere to the fit / predict / transform interface.

[2016-03-30 20:12] vighneshbirodkar commented on #3
From the URL point of view there is no change, i.e.
http://contrib.scikit-learn.org/project-template/
http://contrib.scikit-learn.org/lightning/

But having each project push its documentation to a separate repo keeps things more isolated, file organization and permission-wise. I would not want a gh-pages branch with a lot of projects. We don't yet know how many there will be.

[2016-03-30 20:36] amueller commented on #3
I agree. I don't think people that have contrib projects should have push rights to the scikit-learn-contrib website. Also, I don't want to get notifications for a project updating its website ;)

[2016-03-30 21:13] amueller commented on #4
I'm undecided. It would be nice for visibility of the project, but it's not really what we had intended.

[2016-03-30 23:24] jnothman commented on #3
Does github pages support submodules?

On 31 March 2016 at 07:36, Andreas Mueller <notifications@github.com> wrote:

[2016-03-30 23:25] jnothman commented on #3
The answer is yes, and I think this may help:
https://help.github.com/articles/using-submodules-with-pages/

Does this do what we need automatically, or do we also need to periodically
pull in the submodule changes?

On 31 March 2016 at 10:24, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-03-30 23:32] mblondel commented on #3
Good arguments. +1 for gh-pages!

[2016-03-30 23:40] mblondel commented on #4
Is the project scikit-learn compatible?

[2016-03-30 23:46] jeff1evesque commented on #4
This project [implements](https://github.com/jeff1evesque/machine-learning/tree/5696011368d313aaf743c93c2dc48997ed3ea7e0/puppet/environment/development/modules/sklearn/manifests) scikit-learn, as primary machine learning set of libraries.  It provides a web-interface, and a set of api, which allows users to send POST data to the server, as a programmatic interface.  This programmatic interface, al

[2016-03-30 23:52] jnothman commented on #4
I think, for now at least, I am -1. This belongs in the related projects
listing. I think we want to grow scikit-learn-contrib as a home for
packages that largely extend scikit-learn in its algorithmic capabilities
(including original implementations of things that won't be included in
scikit-learn, wrapping external packages, etc.).

Frontends for data and model management are quite a different k

[2016-03-30 23:52] jnothman commented on #4
Jeff, please do submit a PR to add this project to
https://github.com/scikit-learn/scikit-learn/blob/master/doc/related_projects.rst
in any case.

On 31 March 2016 at 10:51, Joel Nothman <joel.nothman@gmail.com> wrote:

[2016-03-31 07:07] #4 closed

[2016-04-01 08:07] #3 closed

[2016-06-22 00:51] glemaitre opened #5 "imbalanced-learn"
Request for project inclusion in scikit-learn-contrib

* Project name: imbalanced-learn (aka imblearn)
* Project description: A python toolbox to tackle the curse of imbalanced datasets in machine learning
* Authors: G. Lemaitre, F. Nogueira, D. Oliveira, C. Aridas
* Current repository: https://github.com/fmfn/UnbalancedDataset
* Documentation: http://fmfn.github.io/UnbalancedDataset/
* Requiremen

[2016-06-22 00:54] glemaitre commented on #5
Hi,

I still have on error to figure out before the library to be fully ready.
[code]

[2016-06-22 02:38] mblondel commented on #5
Thanks! Please give us a couple of weeks so we can review your project.

Maybe a better project name would be `UnbalancedLearn`, although I would understand if you don't want / can't change the project name.

[2016-06-22 09:47] glemaitre commented on #5
@mblondel That would be the right time to change the name. I will discuss that matter with the other contributors

[2016-06-22 23:54] glemaitre commented on #5
Ok, on our side the documentation is now updated.
Good to go for any review.

[2016-06-29 18:37] arokem opened #6 "New contribution: sklearn-forest-ci"
Request for project inclusion in scikit-learn-contrib

* Project name: sklearn-forest-ci
* Project description: Confidence intervals for scikit learn forest estimators.
* Authors: @kpolimis, @bhazelton, @arokem
* Current repository: https://github.com/uwescience/sklearn-forest-ci
* Requirements:
 * [x ] scikit-learn compatible (check_estimator *irrelevant*)
 * [x ] Documentation (guide, API refere

[2016-06-29 18:52] amueller commented on #6
thanks :) ping @glouppe

[2016-06-29 19:30] fabianp commented on #6
+1 for me

[2016-06-30 06:09] glouppe commented on #6
This is great! However, I am wondering whether this needs to live in its own independent package? FYI, I implemented the same jacknife estimate some months ago in https://github.com/scikit-learn/scikit-learn/pull/5532 (however, that PR has now stalled).

[2016-06-30 08:10] mblondel commented on #6
Looks like the paper referenced has 28 citations.

[2016-06-30 08:22] mblondel commented on #6
In the example "Plotting Classification Forest Error Bars", I would add a legend to indicate what blue and green dots indicate (I guess spam / non-spam).

[2016-06-30 18:38] arokem commented on #6
Yes - the reason we proposed this here, instead of on scikit-learn itself is that this is a relatively new method.

[2016-06-30 18:39] arokem commented on #6
Thanks for the comment about the legend: https://github.com/uwescience/sklearn-forest-ci/pull/14

[2016-07-09 16:23] glemaitre commented on #5
@mblondel any feedback regarding this project?

[2016-07-10 06:01] fabianp commented on #5
Looks good to me. Let's leave @mblondel a couple of days to reply, otherwise I'd say it's good to go.

[2016-07-10 09:08] mblondel commented on #5
Sorry for the long delay. I will try to have a look into this next week. Or if someone else gives a second +1 that's fine too. CC @amueller @vene

Did you make a decision regarding the project name change?

[2016-07-11 07:38] glemaitre commented on #5
@mblondel We took your advice. We go to named the project imbalanced-learn and the package `imblearn` to shorten writting during the import.

[2016-07-11 19:20] amueller commented on #5
sounds great but I don't have time to review, sorry.

[2016-07-12 14:05] mblondel commented on #5
@glemaitre I like the new name `imbalanced-learn`!

+1 for inclusion on my side as well. Your project has more followers than lightning actually :)

You should now be able to transfer your repository to the contrib org.

[2016-07-12 14:12] mblondel commented on #5
Also I have created a new `imbalanced-learn` team. Once you have moved the repository to the contrib, you can associate it with the team. This way you can give people access to your project.

[2016-07-12 14:29] mblondel commented on #6
+1 on my side for a contrib project. If the approach implemented becomes popular, we can move it to sklearn later. Actually, this is one of the motivations of the contrib organization.

Regarding the project name, my first thought was that `ci` stands for `continuous integration`. I would remove the `sklearn-` prefix which doesn't bring much, and replace the title with something more explicit, lik

[2016-07-12 15:29] glemaitre commented on #5
Thanks, we will transfer asap depending of the timezone

[2016-07-12 18:54] glemaitre commented on #5
The repository should be transferred by fmfn

[2016-07-12 23:10] mblondel commented on #5
@fmfn should have received an invitation.

[2016-07-13 00:07] vene opened #7 "polylearn: higher order factorization machines and polynomial networks in Python"
Hey folks, here's my request for project inclusion in scikit-learn-contrib.

* Project name: `polylearn`
* Project description: higher order factorization machines and polynomial networks in Python (implements the solvers from @mblondel et al's [ICML 2016 paper](http://www.mblondel.org/publications/mblondel-icml2016.pdf).
* Authors: Vlad Niculae (@vene)
* Current repository: https://github.com/ven

[2016-07-13 01:56] mblondel commented on #7
+1 on my side

This is a high-quality implementation, with good documentation and tests. The check_estimator failure is a lack of flexibility on the scikit-learn side IMO. In the future, polylearn could implement more methods for learning polynomials, such as random features, for instance.

[2016-07-13 02:13] jnothman commented on #7
Yes. More Leninent tests:

![Leninent](http://cdn.quotesgram.com/small/8/91/174603499-Vladimir-Lenin-150x150.jpg)

Lenient too. I'll make an issue.

[2016-07-13 05:38] fabianp commented on #7
![image](https://cloud.githubusercontent.com/assets/277639/16792870/d7830ade-48cc-11e6-8dd3-04d9ed18929b.png)

[2016-07-13 05:40] fabianp commented on #7
ping @FedericoV

[2016-07-13 17:04] vene commented on #7
@jnothman Trying to bring about the revolution, one subliminal typo at a time!

[2016-07-13 17:13] fabianp commented on #7
+1 for me. I'm no expert in factorization machines but code/examples/doc look good to me.

[2016-07-13 19:02] vene commented on #7
I added another example:
http://vene.ro/polylearn/auto_examples/plot_xor.html

Does the "two +1" rule hold here as well? Should I proceed to move the project or wait for further review?

[2016-07-13 23:19] mblondel commented on #7
@ogrisel @arthurmensch You might be interested in this.

[2016-07-13 23:32] vene commented on #7
Indeed! BTW I loved your ICML paper, @arthurmensch !

On July 13, 2016 7:19:23 PM EDT, Mathieu Blondel <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-07-14 16:03] arokem commented on #6
Thanks the comments. I like `forest-confidence-interval`

For the package name, how about `forestci`, omiting the `skl` prefix?

On Tue, Jul 12, 2016 at 9:29 AM, Mathieu Blondel <notifications@github.com>
wrote:

[2016-07-14 21:37] arthurmensch commented on #7
Great! I reckon it implements some ideas presented in your ICML paper? And
beyond already?
Le 14 juil. 2016 01:19, "Mathieu Blondel" <notifications@github.com> a
écrit :

[2016-07-14 23:32] mblondel commented on #7
It implements the two CD solvers described in my paper.

[2016-07-16 02:28] mblondel commented on #6
Sounds good to me!

[2016-07-16 17:46] arokem commented on #6
OK - what's the next step from our point of view?

IIUC, we go ahead to refactor/rename accordingly, tag and then upload our
0.1 to PyPI?

On Fri, Jul 15, 2016 at 9:28 PM, Mathieu Blondel <notifications@github.com>
wrote:

[2016-07-17 07:45] agramfort commented on #6
Yes on my side 

On Sat, Jul 16, 2016 at 7:46 PM +0200, "Ariel Rokem" <notifications@github.com> wrote:

OK - what's the next step from our point of view?

IIUC, we go ahead to refactor/rename accordingly, tag and then upload our

0.1 to PyPI?

On Fri, Jul 15, 2016 at 9:28 PM, Mathieu Blondel <notifications@github.com>

wrote:

—
You are receiving this because you are subscribed to this thread.
Re

[2016-07-17 08:56] mblondel commented on #6
@arokem Invitation to join contrib organization and forest-confidence-interval team sent :) You should hopefully be able to move your project to the organization.

[2016-07-17 16:19] arokem commented on #6
Thanks! Could you please add @kpolimis and @bhazelton to this team?

I don't seem to have the permissions, but the GitHub UI might just be
eluding me...

On Sun, Jul 17, 2016 at 3:56 AM, Mathieu Blondel <notifications@github.com>
wrote:

[2016-07-17 17:48] amueller commented on #7
leninent = lenin + ent?

[2016-07-18 15:54] mblondel commented on #6
Looks like in order to move a repo from one org to another, owner privilege is necessary in both orgs.

https://help.github.com/articles/transferring-a-repository-owned-by-your-organization/

This should be fixed on our side.

[2016-07-18 15:59] mblondel commented on #5
@fmfn You should now be able to transfer the repo.

[2016-07-18 16:02] arokem commented on #6
What's the right thing to do here?

Move it with the current name and then rename the repo/package when it's
under scikit-learn-contrib?

On Mon, Jul 18, 2016 at 8:54 AM, Mathieu Blondel <notifications@github.com>
wrote:

[2016-07-18 16:08] mblondel commented on #6
Since you have owner privilege in both orgs, I guess renaming before or after doesn't matter?

[2016-07-18 16:12] arokem commented on #6
Just pinging @kpolimis and @bhazelton one more time: any thoughts about renaming the repo to `forest-confidence-interval` and package to `forestci`? If I don't hear back from you within the next couple of days, I will assume that you are happy with that.

[2016-07-18 17:03] bhazelton commented on #6
Sounds good to me.

[2016-07-18 17:16] kpolimis commented on #6
Those names work great, Ariel.

On Mon, Jul 18, 2016 at 10:03 AM, Bryna Hazelton <notifications@github.com>
wrote:

[2016-07-18 18:50] glemaitre commented on #5
@mblondel I was checking Travis. It seems that somebody with admin rights will have to enable the CI tools (Travis, AppVeyor, circleCI, coveralls)

[2016-07-19 02:30] mblondel commented on #5
@glemaitre I gave you admin rights.

[2016-07-19 12:01] arokem commented on #6
OK - I've moved it, and renamed on https://github.com/scikit-learn-contrib/forest-confidence-interval/pull/17. I guess we should also move the docs to be on scikit-learn-contrib.github.io?

[2016-07-19 12:06] mblondel commented on #6
The website is in your gh-pages branch. URL:
http://contrib.scikit-learn.org/forest-confidence-interval/

[2016-07-19 15:04] vene commented on #7
I went ahead and moved the repository. Thanks everyone!

[2016-07-19 15:04] #7 closed

[2016-07-19 15:45] mblondel commented on #6
I added the project here:
https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

Feel free to add more maintainers (you should have commit rights).

Thanks you for this nice contribution to the scikit-learn ecosystem!

[2016-07-19 15:45] #6 closed

[2016-07-19 15:46] mblondel commented on #5
I added the project here:
https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

Feel free to add more maintainers (you should have commit rights).

Thanks you for this nice contribution to the scikit-learn ecosystem!

[2016-07-19 15:46] #5 closed

[2016-07-19 15:51] glemaitre commented on #5
Ok I will update that.

Thanks for the smooth review

[2016-08-07 08:46] chkoar commented on #1
Red-green, purple-yellow, green-purple or vice versa.

[2016-08-08 14:04] mblondel commented on #1
@chkoar Feel free to start from

https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/logos/scikit-learn-contrib-logo.svg

and send us a PR.

[2016-08-17 22:01] chkoar commented on #1
I dunno why but I like these https://github.com/chkoar/sklearn-contrib-logo

[2016-08-17 23:22] mblondel commented on #1
I like logo3 the most. Any opinion @fabianp?

[2016-08-18 01:22] jnothman commented on #1
If those are the choices, 3 and 10 are most aesthetically acceptable to me. But seeing it in the context of a page header would make the choice clearer.

[2016-08-21 08:07] fabianp commented on #1
Personally I would respect the scikit-learn colors, as it gives a recognizable look and feel. I like for example how [Nilearn](http://nilearn.github.io/) does it, as colors instantly remember scikit-learn but the content and the logo also tell you that it's a distinct project.

[2016-08-21 08:23] mblondel commented on #1
Indeed this is something we could investigate too. Any concrete idea?

[2016-08-21 08:50] vighneshbirodkar commented on #1
I think something along the lines of smaller blobs floating around the two main blobs of the scikit-learn logo would be cool

[2016-08-21 08:57] GaelVaroquaux commented on #1
How about a third leaf? I am afraid that smaller blobs might not be very
visible from afar.

[2016-08-28 17:15] lmcinnes opened #8 "Request for inclusion for hdbscan clustering library"
Request for project inclusion in scikit-learn-contrib

* Project name: hdbscan
* Project description: A clustering library implementing the HDBSCAN* and Robust Single Linkage density based clustering algorithms.
* Authors: Leland McInnes, John Healy, Steve Astels
* Current repository: https://github.com/lmcinnes/hdbscan
* Requirements:
 * [X] scikit-learn compatible (check_estimator passed [part o

[2016-08-28 17:34] amueller commented on #8
Awesome, thanks!

[2016-08-29 01:48] mblondel commented on #8
Great project!

Could you give me the account names that should be admin? Thanks!

[2016-08-29 15:49] lmcinnes commented on #8
Sure,

@lmcinnes, @jc-healy and @c-north

Thanks.

[2016-08-31 06:30] mblondel commented on #8
@lmcinnes I added you as a scikit-learn-contrib owner. This should give you permissions to transfer your repository. I also created a hdbscan team and added the members you gave.

Once this is done, could you:
* add your project there: https://github.com/scikit-learn-contrib/scikit-learn-contrib
* fork the transferred repository to your account (this way, links to https://github.com/lmcinnes/hdbsc

[2016-08-31 06:50] GaelVaroquaux commented on #8
Welcome! This is a nice project!

[2016-09-04 13:46] mblondel commented on #8
Thank you for the transfer! Closing.

[2016-09-04 13:46] #8 closed

[2016-09-16 11:23] ghost opened #9 "Extra datasets for scikit-learn"
Request for project inclusion in scikit-learn-contrib
- Project name: extra-datasets
- Project description: Extra datasets for scikit-learn.
- Authors: https://github.com/3d20faaf7d
- Current repository: https://github.com/3d20faaf7d/extra-datasets
- Requirements:
  - [ ] scikit-learn compatible (check_estimator passed)
  - [x] Documentation (guide, API reference, example gallery)
  - [x] Unit tes

[2016-09-16 15:03] amueller commented on #9
I feel like openml.org and the python api for them might be a better solution to the dataset problem. What do you think?

[2016-09-16 15:09] mfeurer commented on #9
Which you can find [here](https://github.com/openml/openml-python). Dataset loading is already quite stable.

[2016-09-16 15:10] amueller commented on #9
@mfeurer wow you're on top of things ;) <dadjoke> one might even say on feuer </dadjoke>

[2016-09-17 07:51] fabianp commented on #9
+1 from me. The documentation is done with care and package works as advertised.

Only thing, I would love to see more datasets :-)

[2016-09-17 13:29] mblondel commented on #9
What is the project vision and how different is it from https://github.com/jaberg/skdata?

With only one dataset supported, I feel that it might be a bit too soon to join contrib.

[2016-09-17 18:55] 3d20faaf7d commented on #9
I didn't do my homework well. I really didn't know about the existence of **skdata**.

About **openml** - it would be indeed better to have all the datasets in the world just there, all accessible via a uniform API, then work around the specifics of each dataset in tiny extra processing steps.

What I understand now:

* The implementation (not necessarily the interface) of the library should be ch

[2016-09-20 09:31] mfeurer commented on #9
One more note from my side about datasets. For most use cases, you actually don't want to use a dataset, but a task. A task contains a dataset, an evaluation measure and a split into train, valid and test set. This concept is implemented in both OpenML and skdata. Maybe it is helpful to implement a concept of tasks here as well if the additional datasets should not only be used for unit testing im

[2016-09-24 01:06] shubhankar90 opened #10 "Inclusion of sklearn interface around scipy.optimize.least_squares for non-linear parametric modeling"
Request for project inclusion in scikit-learn-contrib
- Project name: ParametricModeling
- Project description: ParametricModeling is a Python class for non-linear as well as linear parametric model estimation implemented as an sklearn interface around scipy.optimize.least_squares.
- Authors: Shubhankar Mitra (shubhankar90@gmail.com)
- Current repository: https://github.com/shubhankar90/Parametric

[2016-11-03 00:41] wdm0006 opened #11 "Category Encoders"
Request for project inclusion in scikit-learn-contrib

* Project name: category_encoders
* Project description: a collection of transformers for encoding categorical variables in different ways. Handles input/output as either pandas DataFrames or numpy arrays well, though has been primarily used with DataFrames.  Will encode only certain columns, all columns, or infer categorical columns for you.

[2016-11-03 06:37] GaelVaroquaux commented on #11
How is this project positionned compared to sklearn-pandas?

[2016-11-03 13:05] wdm0006 commented on #11
Should still work fine if you used sklearn-pandas to map a category_encoders transformation to a set of columns.   They don't really do the same thing (though probably there is some internal functionality shared between the two), so I'd consider the two packages complimentary.

Alternatively, you can just pass in the DataFrame or numpy array to a category_encoders transformer directly and specify

[2016-11-04 01:16] mblondel commented on #11
Some classes (e.g., polynomial coding) are missing a description in the API reference.

Besides that, this looks like a nice little project. +1 on my side.

@GaelVaroquaux Did @wdm0006 answer your question?

Any other opinions?

[2016-11-04 03:10] jnothman commented on #11
Yes, I agree it looks useful, and that its main problem is the lack of description in each estimator's documentation.

In general (see PEP257), docstrings should start with a short description:
[code]

Also, doctests are used for examples in these strings, but it'd be very useful for the unfamiliar user if the output of `enc.transform(X)` was actually shown rather than stored in `numeric_dataset`.

[2016-11-04 15:18] wdm0006 commented on #11
Thanks all, I'll take a look at the docstrings throughout the project, let me know if there is anything else that looks off.

[2016-11-09 21:11] wdm0006 commented on #11
@mblondel @GaelVaroquaux @jnothman: I have put in some basic descriptions in the API reference and updated the docstrings to have not only the examples, but the output of the examples.  Further building out the documentation with richer examples is a priority going forward, are there any other points of feedback re: inclusion/exclusion in scikit-learn-contrib?

[2016-11-09 23:58] jnothman commented on #11
Generally I am +1 for inclusion, though I still find it hard to identify what the output looks like from the doctests.

[2016-11-11 10:01] mblondel commented on #11
+1 on my side too

[2016-11-16 01:48] wdm0006 commented on #11
Any next steps on my end or are we waiting for more reviewers?

[2016-11-16 06:38] mblondel commented on #11
If nobody opposes, I will give you the permissions this week-end.

[2016-11-16 21:05] wdm0006 commented on #11
Awesome, thanks!

[2016-11-16 21:12] amueller commented on #11
I find the documentation now very clear. It could really use some examples on what the different encoders do.

[2016-11-19 01:27] mblondel commented on #11
@wdm0006 I added you to the scikit-learn-contrib organization. You should have received the invite. If you don't mind, before/after you transfer the project, I would rename it to `categorical-encoding` (with an hyphen) for consistency with other contrib projects.

[2016-11-19 16:33] wdm0006 commented on #11
Thanks @mblondel! I've transferred the project over and renamed it to categorical-encoding.

[2016-11-21 14:47] mblondel commented on #11
Thanks! Closing.

[2016-11-21 14:47] #11 closed

[2016-11-21 14:55] mblondel commented on #11
@wdm0006 As Andreas mentioned, it would be useful to have actual output examples of each transformer.

[2016-11-28 02:17] arokem opened #12 "Zenodo integration"
Can one of the organization admins please enable Zenodo integration?

https://guides.github.com/activities/citable-code/

This will allow us to mint DOIs for the software.

[2016-11-28 18:51] amueller commented on #12
Done. Can you check if it works?

[2016-11-28 19:50] arokem commented on #12
Seems to work. The organization now appears on my Zenodo dashboard, and I could flip the switch for the forest-ci project.

[2016-11-28 19:50] #12 closed

[2017-01-06 04:43] edublancas opened #13 "Request for inclusion for sklearn-evaluation"
Request for project inclusion in scikit-learn-contrib

* Project name: sklearn-evaluation
* Project description: Model evaluation (mostly plots for now) and report generation
* Authors: Eduardo Blancas Reyes
* Current repository: https://github.com/edublancas/sklearn-evaluation
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed) - does not apply
 * [x] Documentation (guide, API

[2017-01-06 13:42] amueller commented on #13
Can you maybe say a bit more about the content? I have PR for a confusion matrix plot to sklearn.
That also allows some easy visualization of grid-search results, which I think is important.

I would actually like to have some more ready-made functions for PR curves and ROC curves and feature importances.
Getting them "upstream" will take longer and a bit of discussion, but I think it will be usef

[2017-01-06 14:15] edublancas commented on #13
Sure, I updated the description.

[2017-01-15 13:38] danielhomola opened #14 "add boruta all relevant feature selection method?"
Request for project inclusion in scikit-learn-contrib

* Project name: Boruta
* Project description: Python implementation of the Boruta feature selection method
* Authors: Daniel Homola
* Current repository: https://github.com/danielhomola/boruta_py
* Requirements:
 * [x ] scikit-learn compatible (check_estimator passed)
 * [x ] Documentation (guide, API reference, example gallery)
 * [x ] Unit t

[2017-01-25 15:46] amueller commented on #14
Hey.
Thank you for the contribution. I think this is great.
Unfortunately I don't have time to review this right now.
Maybe someone else steps in.
I just wanted to let you know that we haven't forgotten about you ;)

[2017-01-25 16:38] danielhomola commented on #14
Thanks a lot @amueller  :) Let's wait for the others then!

[2017-02-23 12:58] chkoar commented on #14
@danielhomola could you make the example in `BorutaPy`'s docstring as a doctest? Also, I think that you  should not modify the `random_state` in the object initialization. It is a `scikit-learn`'s convention to not modify/validate parameters in the `__init__` method. So, you should get the `random_state` object in `_fit` using the parameter that has passed to the constructor.

Check out this link

[2017-02-23 13:23] danielhomola commented on #14
Thanks for your comments @chkoar.

Sure, I'll try and do these over the weekend. Do you think you can accept the package once these are fixed?

[2017-03-05 12:28] danielhomola commented on #14
@chkoar Hi, I've updated the random_state to align with the scikit conventions.

I also added example files, which ensure that the test code can be ran by the user with the expected results. However doctest has no way of testing multiline output, which is what Boruta produces (quite a lot of line actually), see this thread: http://stackoverflow.com/questions/28805567/line-continuation-wrapping-in-

[2017-03-05 13:30] mblondel commented on #14
@danielhomola You should have received an invitation to join the organization. You should now be able to transfer your project. Once this is done, my advice is to fork the project, so that the old project url is still valid. Could you also add your project to https://github.com/scikit-learn-contrib/scikit-learn-contrib? Thanks!

[2017-03-05 15:24] danielhomola commented on #14
Thanks a lot @mblondel. The way I understand it, I should clone the template (https://github.com/scikit-learn-contrib/project-template), follow the steps, setup docs, travis, etc and then submit a pull-request? This will take a bit of time, so bare with me :) Thanks again! d

[2017-03-06 01:34] mblondel commented on #14
No, you just need to transfer your current project.

[2017-03-06 10:41] danielhomola commented on #14
Really? that's great! I'll do it today or tomorrow! If you don't mind me asking, how come you don't require me to deal with all the other stuff (docs, travis, etc)? Is it because of the tiny size of my project?

cheers

[2017-03-06 12:21] mblondel commented on #14
The idea is to not loose your stars/forks. You can do the modifications you mention after transferring your project.

[2017-03-19 03:35] wdm0006 commented on #13
+1 from me for inclusion, looks to be a very useful library, in particularly the report generation portion.

[2017-03-21 16:06] MaxHalford opened #15 "Factorial analysis library inclusion"
Request for project inclusion in scikit-learn-contrib

* Project name: Prince
* Project description: Tool for performing factorial analysis (PCA, CA, MCA, FAMD and maybe others)
* Authors: [Max Halford](https://github.com/MaxHalford)
* Current repository: [https://github.com/MaxHalford/Prince](https://github.com/MaxHalford/Prince)
* Requirements:
 * [ ] scikit-learn compatible (check_estimator pas

[2017-03-26 02:07] mblondel commented on #14
Could you also add your project to the list here:
https://github.com/scikit-learn-contrib/scikit-learn-contrib

[2017-03-26 02:07] #14 closed

[2017-05-16 12:53] svaante opened #16 "Request for project inclusion in scikit-learn-contrib"
Request for project inclusion in scikit-learn-contrib

* Project name: decision-tree-id3
* Project description: decision-tree-id3 is a module created to derive decision trees using the ID3 algorithm. It is written to be compatible with Scikit-learn's API using the guidelines for Scikit-learn-contrib. It is licensed under the 3-clause BSD license.
* Authors: [Daniel Pettersson](https://github.com/s

[2017-05-16 14:18] amueller commented on #16
Thanks! Is this a pure python implementation? How fast is it compared to the sklearn tree?

[2017-05-16 14:48] svaante commented on #16
Hi for now its written in pure Python but we are thinking about rewriting some parts in Cython. Its definitely slower than sklearn tree however it handles numerical, nominal values and also non binary splits which was the reason for this project.

[2017-05-16 14:56] amueller commented on #16
cool. what do you mean by non-binary? three branches going out? or subsets of nominal values?

There will be subsets of nominal values? We have a PR for that.
Not that I'm against including this to have something now. I just want to get a clear idea of what this is doing compared to the sklearn tree. So clearly we don't have post-pruning, which is clearly a limitation.

[2017-05-16 17:52] svaante commented on #16
Hi. Non-binary meaning that when splitting nominal data it is possible to have several branches going out. As can be seen here: https://svaante.github.io/decision-tree-id3/_images/out.png
Also it is possible to have data that is both nominal and numerical, as you said subsets of nominal values.
The biggest differences to sklearn tree:
- Post-pruning
- Nominal and numerical data
- Non-binary splits

[2017-05-16 19:06] amueller commented on #16
What do you mean by "based on ID3"? But I think this sounds very cool. I haven't reviewed it though.

[2017-05-16 20:00] ONordander commented on #16
@amueller
The ID3 algorithm as described here: https://www.cise.ufl.edu/~ddd/cap6635/Fall-97/Short-papers/2.htm
The project is based on ID3 this algorithm and we have added extensions.

[2017-05-16 20:08] amueller commented on #16
I always find the decision tree naming schemes confusing. How is that different from cart with entropy?

[2017-05-16 21:39] ONordander commented on #16
The basic ID3 algorithm only handles categorical/nominal values and does not handle numerical values. However when splitting it is not necessarily binary splits it can also split into more branches i.e. three or more branches going out (for nominal values, not numerical). ID3 uses information gain as it's splitting criteria. In our project we used information gain as the default splitting criteria

[2017-05-17 22:21] #15 closed

[2017-05-17 22:57] jnothman commented on #15
sorry for the slow reply. did you close in response to the silence? why are
you proposing it here if you've not ticked that it has a
scikit-learn-compatible interface?

On 18 May 2017 8:21 am, "Max Halford" <notifications@github.com> wrote:

[2017-05-17 23:09] MaxHalford commented on #15
I just wanted to know if it was worth making it compatible with scikit-learn beforehand, it's a bit of chicken and the egg dilemna

[2017-06-14 05:52] jnothman commented on #13
This is a bit different from what tends to be in scikit-learn-contrib. It is more comparable to something like eli5. Do we want this kind of thing in contrib, or put them on the related projects page?

[2017-07-07 14:56] wdm0006 commented on #16
I think this is an interesting project, that's pretty well documented (the graphviz bit is pretty cool). I think it'd be a good idea to put the differences between this implementation and those available already in sklearn somewhere prominent, like the README. Both in terms of features/capabilities and performance.

Beyond that, I think this is a suitable candidate for inclusion.

[2017-07-25 11:50] bhargavvader opened #17 "Adding pycobra to scikit-learn-contrib"
Request for project inclusion in scikit-learn-contrib

* Project name: `pycobra`
* Project description: python library implementing ensemble methods for regression and classification. Has a visualisation suite to compare performances of machine (e.g boxplots, voronoi tessellations) . Easy plug and play with scikit-learn objects.
* Authors: Bhargav Srinivasa Desikan, Benjamin Guedj
* Current reposi

[2017-07-25 12:52] GaelVaroquaux commented on #17
Do you have an estimate of your test covevarge? Looking at https://travis-ci.org/bhargavvader/pycobra/jobs/256964802 it seems quite small.

Also, the warning is a bit worrying. It makes me fear that the package will be broken as soon as we release scikit-learn 0.19.

[2017-07-25 13:09] bhargavvader commented on #17
In the process of adding `coveralls` - and just fixed the test to make sure the warning doesn't occur.

Almost all the prediction and diagnostic methods are tested, though I've commented out a few tests because they time out on Travis.

[2017-07-26 10:34] luiscarlosgph opened #18 "Request to add t-Student-Mixture-Models"
Request for project inclusion in scikit-learn-contrib

* Project name: t-Student-Mixture-Models
* Project description:  package which enables one to learn t-Student Mixture Models (diagonal, spherical, tied and full covariance matrices supported), sample them, and estimate them from data
* Authors: Luis C. Garcia-Peraza-Herrera
* Current repository: https://github.com/luiscarlosgph/t-Student-Mixtu

[2017-07-26 12:19] GaelVaroquaux commented on #18
I don't think that you have continuous integration on travis (or circle).
We are not requiring it for integration in scikit-learn-contrib (I think
that we should, @mblondel, @amueller, any opinion), but I think that it
would be much better for your project.

[2017-07-26 13:44] vene commented on #18
I'm +1 for adding a requirement for CI. (maybe at least a soft requirement.) It's not so difficult to set up as long as the test suite already exists, and we do require tests.

I had subtle bugs in polylearn because of using non-initialized memory in cython which only showed up on 32-bit windows thanks to Appveyor. Would never have caught them without CI & thorough tests.

[2017-07-26 14:40] luiscarlosgph commented on #18
Thanks for the quick feedback, I will add the CI with Travis now and come back to you when done.

[2017-07-26 14:45] amueller commented on #18
From [the workflow document](https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/workflow.md):
![image](https://user-images.githubusercontent.com/449558/28627308-68aa409e-71ef-11e7-875c-308edd868df5.png)

Where did you get from that we don't require it? If that requirement (and I think it is a requirement) is not documented in a particular place, we need to add it.

[2017-07-26 15:50] luiscarlosgph commented on #18
CI with Travis: https://travis-ci.org/luiscarlosgph/t-Student-Mixture-Models

[2017-07-26 17:04] GaelVaroquaux commented on #18
OK. I guess we are all on the page. I was maybe trying to be too
careful/polite.

[2017-07-26 17:06] GaelVaroquaux commented on #18
With regards to integrating this, it's a pity that the docs are not visible online. Is there a plan to change this after integration?

[2017-07-31 11:39] luiscarlosgph commented on #18
I can generate markdown-based documentation and make it available in the Github repo, would this be fine?

[2017-08-01 13:07] luiscarlosgph commented on #18
I have put the documentation available here: http://t-student-mixture-models.readthedocs.io/en/latest

[2017-08-20 09:57] dukebody opened #19 "sklearn-pandas project inclusion request"
Request for project inclusion in scikit-learn-contrib after discussion at https://github.com/pandas-dev/sklearn-pandas/issues/114.

* Project name: sklearn-pandas
* Project description: Bridge between Scikit-Learn's machine learning methods and pandas-style Data Frames.
* Authors: Arnau Gil Amat, Ben Hamner, Cal Paterson, Gustavo Sena Mafra, Israel Saeta Pérez, Jeremy Howard, Jimmy Wan, Olivier Gr

[2017-08-22 15:46] agramfort commented on #19
where is the doc?

you could just make sure it does not break if input is a plain numpy array so check_estimator can do its job

[2017-08-27 15:52] flennerhag opened #20 "Request for inclusion: ML-Ensemble"
Request for project inclusion in scikit-learn-contrib

* Project name: ML-Ensemble
* Project description: Library for generalized ensemble learning (such as stacking, blending subsemble, multi-layer ensembles) optimised for maximum parallelism and minimum memory consumption.
* Authors: [Sebastian Flennerhag](https://github.com/flennerhag)
* Current repository: https://github.com/flennerhag/mlens
*

[2017-09-09 13:11] wdm0006 commented on #19
Seems to me like this is, sort of by its own definition, scikit-learn compatible, regardless of check_estimator's appropriateness.  I think it makes sense for inclusion, this has been a populate add-on to the scikit-learn stack for a while now. Though also am having trouble locating the API reference.

[2017-09-09 13:17] mblondel commented on #19
Seems like you already have a home in the pandas-dev organization. What would be the main benefit of moving here instead?

[2017-09-10 10:06] dukebody commented on #19
@mblondel I personally don't really mind, I just opened this ticket upon request from https://github.com/pandas-dev/sklearn-pandas/issues/114#issue-244856731.

Probably pandas folks prefer to keep the `pandas-dev` organization for _core_ pandas stuff and use other organizations such as `scikit-learn-contrib` or `pandas-contrib` for addons and related projects.

@wdm0006 the API reference is at the

[2017-09-10 10:13] dukebody commented on #19
@agramfort sklearn-pandas `DataFrameMapper` always expects a pandas dataframe as input, by definition. Even though it inherits from `BaseEstimator` I don't know if it can be considered a normal estimator that must pass `check_estimator`. What do you think?

[2017-09-10 13:03] mblondel commented on #19
@dukebody I see, thanks for the clarification.

+1 from me for inclusion

[2017-09-11 00:59] jnothman commented on #20
This is quite an impressive project. But it has quite a broad scope and is hard to evaluate the extent to which it adheres strictly to interface specs. I am, for instance, a little concerned about how the `evaluate`, `initialize`, `terminate`, `preprocess` public methods on `Evaluator` fit in, or why `Evaluator` here really belongs in a package about ensembles. It appears to mostly be about effici

[2017-09-11 01:00] jnothman commented on #20
Also, your comment is welcome on our current contender for a stacked ensemble implementation at https://github.com/scikit-learn/scikit-learn/pull/8960

[2017-09-11 13:15] Dibillilia opened #21 "Request for inclusion: Averaged Cluster Augmenter"
Request for project inclusion in scikit-learn-contrib

* Project name:
AveragedClusterAugmenter

* Project description:
This is an implementation of an algorithm for preprocessing data to increase the accuracy of some estimators
by up to 40%.

* Authors:
Anthony Dellinger

* Current repository:
https://github.com/Dibillilia/AveragedClusterAugmenter

* Requirements:
 * [x] scikit-learn compatible (

[2017-09-12 14:44] jnothman commented on #21
Thanks. A couple of issues:
* I think the primary contribution here is very similar to imbalanced-learn's [`ClusterCentroids` undersampling](http://contrib.scikit-learn.org/imbalanced-learn/stable/under_sampling.html). While this is good work, I'd suggest collaborating on that more mature and general project might be a good idea.
* We do not currently allow fit_transform (nor transform) to change

[2017-09-15 15:02] bhargavvader commented on #17
Hello @GaelVaroquaux , any updates on what more you would like to see done to get `pycobra` included?

[2017-09-17 15:41] flennerhag commented on #20
@jnothman thanks for the +1!

To address your concerns, the API consists of four modules: ``ensemble``, ``model_selection``, ``preprocessing``, ``visualization``.

## Ensemble

The ``mlens.ensemble`` module is the main component that houses all ensemble estimator classes. These classes are designed to behave as Scikit-learn estimators, and the only break with the Scikit-learn API is the instantiat

[2017-09-17 15:42] flennerhag commented on #20
And I'd be happy to take a look at the stacking PR when I get the chance.

[2017-09-17 15:43] GaelVaroquaux commented on #20
That's a quite strong breakage. Too me, ML-ensemble does not implement
the scikit-learn API.

Why not specify the list of estimators at construction time?

[2017-09-17 16:34] flennerhag commented on #20
@GaelVaroquaux I understand you point of view and for building a small ensemble, it certainly would be possible to have an ``estimators`` argument in the constructor. Building multi-layer ensembles would then requires a list of lists or most likely dicts.

But once you want each layer to behave differently, specifying everything in one go becomes rather messy. For this, you'd need something like a

[2017-09-17 16:39] flennerhag commented on #20
I suppose one alternative would be to have users specify specific layers and then pass them to an ensemble class, like so:

[code]

Would that be preferable?

[2017-09-17 22:33] jnothman commented on #20
Am i mistaken or is there an undocumented constructor parameter for the
layers? @GaelVaroquaux, this facilitates clone, so in a way you can think
of .add as a specialised set_params. I find this design more user friendly
than scikit-learn's for composite estimators.

[2017-09-18 06:53] flennerhag commented on #20
Yes that's exactly correct.

An ensemble is instantiated with a ``layers`` parameter that is ``None`` by default. The ``add`` method then does

[code]

so the ensembles are safe to clone (cloning is unit tested).

[2017-09-22 14:05] MrNuggelz opened #22 "Request for inclusion: GLVQ"
Request for project inclusion in scikit-learn-contrib

* Project name: sklearn-glvq
* Project description: Implementation of generalized vector quantization
algorithms (GLVQ, GRLVQ, GMLVQ, LGMLVQ)
* Authors: Joris Jensen
* Current repository: https://github.com/MrNuggelz/sklearn-glvq
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation (guide, API reference,

[2017-09-25 11:05] ngoix opened #23 "Request for inclusion: SkopeRules"
Request for project inclusion in scikit-learn-contrib

* Project name: skope-rules
* Project description: Learn rules with specified minimum precision/ minimum recall for supervised binary classification. While quite simple, we believe it can be particularly useful to the industry when experts require the model to be entirely interpretable. The output is composed of a set of decision rules.
* Auth

[2017-09-25 17:36] vene commented on #23
This looks super interesting, thank you! Is the rendered doc available online anywhere, and is there some paper/tech report reference available? (The doc makes it clear what it does, but not how, as far as I can tell).

In any case I don't think this should block inclusion in sklearn-contrib.

[2017-09-25 18:00] ngoix commented on #23
Thanks! The doc is not online yet (we can only see it through circle ci), but we plan to push the package on Pypi soon. It remains a bit of work to do, but we wanted to have a first feedback before :). Regarding the refs, we did not use any paper as the method simply consists in building lots of trees through the `BaseBagging` class, extracting the rules, and selecting them by testing them OOB (al

[2017-09-25 21:39] jnothman commented on #23
The idea of weighted rules extracted from forests (particularly with the
goal of interpretability) has been around for a while. I saw Jerome
Friedman present it a few years back, as in
http://statweb.stanford.edu/~jhf/ftp/RuleFit.pdf, though there rules are
weighted by a linear model. I am curious about your simplified weighting
scheme, here, @ngoix.

I think it would be interesting, @ngoix, if yo

[2017-09-28 09:46] ogrisel commented on #19
+1 for inclusion: it's good to have an "semi-official" way to write sklearn pipeline transformers where the pandas dependency is allowed.

[2017-09-29 14:27] bhargavvader commented on #17
Hello @agramfort , since last July we've added more tests and `coveralls`.
Large parts of the code are for visualisations (boxplots, QQ, and voronoi tessellations), so tests for this are limited (on Travis) - bringing the coverage to 58%. All the predictive methods and hyper parameter optimisation methods are tested though.
I apologise for the delay regarding this. It would be great to know what e

[2017-10-08 10:25] dukebody commented on #19
Nice. How should we proceed?

[2017-10-08 13:15] mblondel commented on #19
@dukebody I sent you an invitation. You should be able to transfer your project to the organization (stars, watchers, etc will not be lost)

[2017-10-10 14:24] caioaao commented on #20
@flennerhag Correct me if I'm wrong, but one would mostly benefit from your library when iterating on a model, right? If that's the case I think you could focus on your API instead of scikit learn's and build adapters for transforming to and from scikit learn's pipelines (transforming layers into `FeatureUnion`s and stacked ensembles into a `Pipeline` - probably using what I did on scikit-learn/sc

[2017-10-10 22:07] ngoix commented on #23
Thanks for your feedback @jnothman, we added a "Links with existing litterature" in the readme, please let me know your thoughts.
Also, maybe @agramfort would like to take a look ;)

[2017-10-17 02:48] jnothman commented on #23
Very nice comparison to literature.

[2017-10-22 18:24] dukebody commented on #19
@mblondel done! Thanks a lot. :)

[2017-10-22 18:24] #19 closed

[2017-10-22 23:24] mblondel commented on #19
Can you add the project to the list here https://github.com/scikit-learn-contrib/scikit-learn-contrib ?

Thanks!

[2017-10-28 14:01] dukebody commented on #19
@mblondel Done, can you check https://github.com/scikit-learn-contrib/scikit-learn-contrib/pull/24 ? :)

[2017-11-28 07:58] orgesleka opened #25 "Rapid Outlier Detection"
Request for project inclusion in scikit-learn-contrib

* Project name: rapid-outlier-detection
* Project description: Rapid Outlier Detectin via Sampling
* Authors: Orges Leka
* Current repository: https://github.com/orgesleka/rapid-outlier-detection
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation (guide, API reference, example gallery)
 * [x] Python3 c

[2017-11-29 13:30] agramfort commented on #25
where is the doc and gallery?

[2017-11-29 13:32] orgesleka commented on #25
gallery: example_radid_outlier_detection.py
doc: is implemented as a docstring.

[2017-11-29 13:37] agramfort commented on #25
it needs to be a web site we can review.

[2017-11-30 10:11] ogrisel commented on #25
It would be great to reproduce some of the results of the benchmarks of the paper (kdd99, covertype, synthetic gaussian datasets) and compare with the methods already present in sklearn: IsolationForest, LOF and OneClassSVM.

[2017-11-30 10:13] ogrisel commented on #25
Also please configure the continuous integration as done in the project template:

https://github.com/scikit-learn-contrib/project-template

[2017-11-30 10:15] orgesleka commented on #25
Ok, thanks. I will do that, but give me some time as I am doing this on my free time.

[2017-11-30 10:27] ogrisel commented on #25
No problem, there is no hurry. I read the paper and it's indeed very surprising that such a simple baseline seems to dominate all of the more complex and slower state of the art methods (on average).

[2017-12-15 00:14] vijaysrinivastida opened #26 "Binary Coded Ascent Algorithm implementation"
Request for project inclusion in scikit-learn-contrib

* Project name: Binary Coordinate Ascent algorithm
* Project description: It is an efficient optimization technique for feature subset selection in machine learning. With the help of this algorithm the efficiency in number of subset selection of available increased by a factor of 5-37 compared with two popular algorithms sequential forward sel

[2017-12-15 02:50] fabianp commented on #26
current repository is empty?

[2017-12-15 07:42] vijaysrinivastida commented on #26
Yeah I’ll work on it if the topic is accepted ?

Sent from my iPhone

[2017-12-15 12:16] glemaitre commented on #26
We usually accept project which are working and implemented.

[2017-12-15 12:18] orgesleka commented on #25
Dear Olivier ( @ogrisel ). I wrote a small script to benchmark the algorithms IsolationForest, LOF and OneClassSVM on the datasets covtype, kdd1999, gaussian1e3. Prof. Mahito Sugiyama was so kind to send me the dataset. He also send the other synthetic gaussian dataset, but it is too large (over 1.4 GB)
If you could have a look on the script, and share your opinion on what might be improved, that

[2017-12-15 13:09] ogrisel commented on #25
For the synthetic datasets you can re-synthesize them yourself.

[2017-12-15 13:13] orgesleka commented on #25
still don't have enough memory on my pc to hold 1.4 GB and run the algorithms.

[2017-12-15 14:59] ogrisel commented on #25
Can you please report your results the run you did? Could you reproduce some of the scores of the paper?

Please create an example folder with an updated version of https://github.com/ngoix/scikit-learn/blob/master/examples/covariance/plot_outlier_detection.py that includes your new method.

Also add another example script that compares fast methods (e.g. yours and IsolationForest) on medium scale

[2017-12-16 11:56] agramfort commented on #25
you have 2 benchmarks in master:

https://github.com/scikit-learn/scikit-learn/blob/master/benchmarks/bench_lof.py
https://github.com/scikit-learn/scikit-learn/blob/master/benchmarks/bench_isolation_forest.py

you can reuse

[2017-12-16 12:01] orgesleka commented on #25
@agramfort thank you.

[2017-12-16 23:36] jnothman commented on #26
Please reopen when you have a working and tested and documented implementation

[2017-12-16 23:36] #26 closed

[2018-01-05 15:02] agramfort commented on #17
hi,

to keep the ball rolling here. Con you point here to:
- your narrative doc
- example gallery
- coverage report

why not testing viz code on travis? you can easily do this with Agg backend.

[2018-01-06 11:10] bhargavvader commented on #17
Hello @agramfort , the documentation is over [here](https://bhargavvader.github.io).
As for the example gallery, we're using Jupyter notebooks to serve as both documentation and an example gallery - the notebooks are all linked to in the documentation page, and can be found in the [notebooks directory](https://github.com/bhargavvader/pycobra/tree/master/notebooks).

I had problems using the `agg`

[2018-01-12 16:26] bhargavvader commented on #17
Hello - just an update, visualisation tests have been added and test coverage is up to 72%.

[2018-01-15 08:53] glemaitre commented on #9
I am closing this proposal since that the repository does not exist anymore.

[2018-01-15 08:53] #9 closed

[2018-01-15 08:55] glemaitre commented on #10
@shubhankar90 Do you plan to comply with all the requirements?

[2018-01-15 16:36] shubhankar90 commented on #10
@glemaitre I can work on fulfilling all the requirements if it will be a candidate for inclusion into scikit-learn-contrib.

[2018-01-15 17:36] glemaitre commented on #10
From what I am reading in https://github.com/scikit-learn/scikit-learn/issues/6977, it seems that it was considered as a candidate. But to be then included and reviewed, you need first to fulfill all the above points.

[2018-01-15 17:49] glemaitre commented on #13
I tend to think that it could be useful since that it could provide some plotting functionality to scikit-learn. I also think that having a tool similar to https://github.com/pandas-profiling/pandas-profiling could be good for the scikit-learn-contrib.

[2018-01-15 17:58] glemaitre commented on #16
IMO, I miss a bit of benchmark with other trees as @wdm0006 mentioned. I am also scared that a pure Python implementation could be pretty slow whenever the number of samples will grow and that the method cannot be used in practice. That also could be part of a benchmarking effort.

[2018-01-15 18:07] glemaitre commented on #17
The coverage is a bit low. Also, I miss the API documentation on your website and you could convert your notebooks into a sphinx-gallery to make it available from the website. They are things which make it easier to use a package.

[2018-01-15 20:48] bhargavvader commented on #17
The API documentation on the website is [here](https://bhargavvader.github.io/py-modindex.html). Will update the website with a sphinx-gallery and add more tests in case I missed something.

[2018-01-16 16:56] shubhankar90 commented on #10
Sure, I will start working on fulfilling the requirements then.

[2018-01-22 09:31] ngoix commented on #23
We just pushed the code on Pypi and added a link to the doc. @vene @jnothman

[2018-01-22 20:21] vijaysrinivastida commented on #26
Hi Joel,
My name is Vijay. Me and my instructor implementing binary coded ascent algorithm for feature selection. Is it necessary for the implemented code to pass check_estimator step to contribute code? Also any additional steps required to submit the final implemented code ?
Thanks and regards
Vijay

Sent from my iPhone

[2018-01-22 20:27] glemaitre commented on #26
Hi Vinjay. You actually need to pass the estimator_checks tests. It ensure that people can use your feature selector within pipeline and any sklearn component. 

[2018-01-22 21:52] vijaysrinivastida commented on #26
Estimator_check tests where I can find this? I saw check_estimator is for classifiers right ?
Thanks and regards
Vijay

Sent from my iPhone

[2018-01-22 21:54] glemaitre commented on #26
Estimators are the base class of transformer, classifier, regressor, etc. So you need to be sure that your custom estimator pass this test: http://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_checks.check_estimator.html

[2018-01-22 21:57] vijaysrinivastida commented on #26
My implementation is with algorithm and it uses the classifiers with in sklearn library even though my algorithm definitely should pass this test.
Thanks and regards

Sent from my iPhone

[2018-01-22 22:33] glemaitre commented on #26
So you should write the test ensuring that this is working. This is part of the requirements.

[2018-01-22 22:54] jnothman commented on #23
Sorry I don't feel like I can devote much energy to scikit-learn-contrib. I
think what we need to do is corral the existing scikit-learn-contrib
package maintainers to maintain the overall collection.

[2018-01-22 23:01] jnothman commented on #23
Okay, I'm inclined to just accept this. Admittedly with some bias towards the contributor who has helped us out at sklearn.

If you could do review other contrib issues, it would be great!

[2018-01-22 23:05] jnothman commented on #23
I've created a team for you, and added @ngoix as a member. I think this is sufficient for you to transfer your repo in, and to add other contributors to the team. (I've not done this part before.) Tell me how it goes!

[2018-01-23 09:56] ngoix commented on #23
thanks for this @jnothman ! However, it seems that I can't add team members nor repo as I'm not a maintainer of the team https://help.github.com/articles/organizing-members-into-teams/

[2018-01-25 13:41] agramfort commented on #23
@ngoix

you should now have the rights to transfer the repo.

[2018-01-26 00:34] vijaysrinivastida commented on #26
Hi I also had question regarding  the process for maintaining the
implemented code and solving the future bugs and issues?
Thanks
Vijay

On Mon, Jan 22, 2018 at 4:33 PM, Guillaume Lemaitre <
notifications@github.com> wrote:

[2018-01-26 02:55] jnothman commented on #26
You would retain the primary maintainer.

On 26 January 2018 at 11:34, vijaysrinivastida <notifications@github.com>
wrote:

[2018-01-28 01:09] vijaysrinivastida commented on #26
Hi,
I have doubt regarding continuous integration. My code is implementation of
algorithm and I wrote my own test case it is working.  Is continuous
integration required for my code implementation as I didn't use classifier?
Thanks and regards
Vijay

On Mon, Jan 22, 2018 at 4:33 PM, Guillaume Lemaitre <
notifications@github.com> wrote:

[2018-01-28 10:01] jnothman commented on #26
It's very hard for us to check something if you don't show the code.

I would think that if your implementation is as standard an interface as a feature selector then, yes, it should pass check_estimator completely.

[2018-01-28 15:06] ngoix commented on #23
thanks @agramfort !

[2018-02-08 10:14] rth opened #27 "Better contrib packages naming consistency"
The package naming is also something that might be worth checking during the review to accept into `scikit-learn-contrib`. In particular, to ensure that,
  * the github repo name
  * the uploaded name on PyPi
  * the Python package name when it's imported

are somewhat consistent (or follow a similar logic).

For instance,

1. for pyearth,
  * `scikit-learn-contrib/py-earth`
  * `pip install sciki

[2018-02-08 13:15] mblondel commented on #27
I agree on principle that more consistency would be nice but many projects existed before moving to contrib. It would be difficult to require changing the package name, pip name etc.

[2018-02-08 15:02] rth commented on #27
I agree. That's why the Github repository name is still the most easily changeable part. First because of redirects and then because when included here the url changes anyway.. Say packages

Actually, I noticed that the "vision" section of the Readme has,

which does makes sense : same as  `sklearn-contrib/project-name` (Github) and I imagine makes analogies with `from scikit.learn.contrib import

[2018-02-08 20:38] rth commented on #17
Hi @bhargavvader,

nice package! A few additional comments below,

**Docs**

 * On the documentation page, it's actually not clear how to install this package. You could for instance, just include the section from the readme.
 * For the API it's more common to just have a section in the documentation (see for instance [this example](http://dask-ml.readthedocs.io/en/latest/modules/api.html) (you co

[2018-02-08 21:18] rth commented on #22
@MrNuggelz Thank you for this submission!

Could you please provide the link to documentation? I can see that it's being built and even has an example gallery but I was not able to find the actual url even after searching for it.

For the continuous integration, the build seems to fail. It would be easier to make it pass, if you created new branches for code changes then merged them once tests pas

[2018-02-08 21:22] rth commented on #17
Also, could you please rename this issue to "Add pycobra" (or some other meaningful title with the package name) as currently it's hard to know [what this issue corresponds to in the list](https://github.com/scikit-learn-contrib/scikit-learn-contrib/issues). Thanks.

[2018-02-14 15:44] ogrisel commented on #25
Just for the record, this other recent method looks very promising as well: [Linear-time Outlier Detection via Sensitivity](https://arxiv.org/abs/1605.00519). Linear-time and more accurate on many benchmarks than (although the individual benchmark AUPRC values reported for the Rapid Outlier Detection method in both papers seem to differ quite significantly).

[2018-02-18 21:51] mcasl opened #28 "PipeGraph"
Request for project inclusion in scikit-learn-contrib

* Project name: PipeGraph
* Project description: A generalization of Pipeline using a graph structure
* Authors: Laura Fernandez Robles,
                   Hector Alaiz Moreton,
                   Jaime Cifuentes-Rodriguez,
                   Javier Alfonso-Cendón,
                   Camino Fernández-Llamas,
                   Manuel Castejón-

[2018-02-19 00:32] #23 closed

[2018-02-19 00:33] mblondel commented on #23
@ngoix Could you add the project to the list below? Thanks!

https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md

[2018-02-20 13:42] MrNuggelz commented on #22
Thanks for the reply.
I've updated the readme to include the link to the documentation and moved the changes to a different branch.

[2018-02-26 00:48] jnothman commented on #28
Just a note after having a first look at your docs: It seems like specifying models for PipeGraph is very verbose and hard to read. It would be within the Scikit-learn API conventions (although we don't do it internally) for you to allow something like:

[code]

[2018-02-26 12:18] mcasl commented on #28
Thank you indeed for the feedback! We will work on that direction. I guess it could be ok for the source parameter to be either a tuple or a string. The reason for that need is that some predictors offer predict, predict_proba and predict_log_proba. As it is currently implemented each step calculates all of them if available and offer them as eligible output. Thus the user can choose between (sour

[2018-03-05 11:31] mcasl commented on #28
We updated the master branch in github according to your comments. Now there is a default behavior a la Pipeline if no connections are defined and we added the inject syntax:
- Examples 1 and 2 show the connectionless behavior.
- Example 3 and 4 the inject syntax.

fit_connections and predict_connections are kept as optional constructor parameters for allowing GridSearchCV to tweak the graph topol

[2018-03-06 00:36] pavelkomarov opened #30 "Projection Pursuit Regression and Classification"
Request for project inclusion in scikit-learn-contrib

Hi guys, I've created a thing I think should belong to scikit-learn-contrib so more people can know about it. I've gotten mostly through the workflow (still trying to figure out exactly how to run sphinx and make my documentation pretty and launch it automatically with circleci) and would like some feedback as to whether you want this and, if

[2018-03-19 15:58] bhargavvader commented on #17
Thanks for the comments @rth !

### Documentation and Readme

Thanks for the suggestions with the documentation! I've updated the installation instructions on the website, and made things more clear in the readme and description. I've also included an api.rst file to make the documentation easier like you suggested.

### Tests

- Some of the visualisations, particularly the box plots and voronois

[2018-03-20 09:13] bhargavvader commented on #17
We've added a more permanent page for the documentation - https://modal.lille.inria.fr/pycobra/.

[2018-03-28 23:15] pavelkomarov commented on #30
Last night and today I took a foray in to doing documentation with continuous integration. I am using TravisCI for this purpose, because CircleCI is over-complicated for what I need. It works but not completely:

* Adding `'sphinx_gallery.gen_gallery'` to the `extensions` in `conf.py` for some reason removes the `_modules` folder from the output, so all the `[source]` links in the documentation br

[2018-05-18 12:38] mcasl commented on #28
We updated the source code according to your comment on the mailing list of considering Mixin Classes as an alternative. As this approach provides a cleaner solution we consider it a plus.
Currently, on the MixinClasses branch, and on its way to master.

[2018-05-18 15:29] bhargavvader commented on #17
Hello @rth , @GaelVaroquaux , @agramfort - wanted to know if there's anything else you would like to see done with the package to consider it for integration with scikit-learn contrib.

[2018-05-21 21:20] MaxHalford opened #31 "Request for inclusion: XGP"
Request for project inclusion in scikit-learn-contrib

* Project name: XGP
* Project description: Symbolic regression (and classification)
* Authors: [Max Halford](https://github.com/MaxHalford)
* Current repository: [https://github.com/MaxHalford/xgp-python](https://github.com/MaxHalford/xgp-python)
* Requirements:
 * [X] scikit-learn compatible (check_estimator passed)
 * [X] Documentation (guid

[2018-05-21 21:46] amueller commented on #31
Thanks for the request.
This sounds cool, but I think we're a bit behind on contrib reviews / the process is not ideal yet. Lack of reply doesn't mean lack of interest.

[2018-05-21 21:53] MaxHalford commented on #31
No worries! I'm a researcher too now 👍

[2018-05-24 16:39] bhargavvader commented on #17
Good idea, was working on doing this today, but I am plagued with `Image` and various `PIL` errors. This should also be fixed soon!

[2018-05-28 11:59] bhargavvader commented on #17
Hello @agramfort , the sphinx-gallery is now up on the documentation website: https://modal.lille.inria.fr/pycobra/auto_examples/

[2018-05-28 12:00] glemaitre commented on #17
Could you add a link on the side bar?

On 28 May 2018 at 13:59, Bhargav Srinivasa <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2018-05-28 12:11] bhargavvader commented on #17
Done!

[2018-05-28 20:02] agramfort commented on #17
I see some:

COBRA_diabetes.set_epsilon

ewa.set_beta

why not just a set_params? this violates the sklearn API.

[2018-05-28 21:14] bhargavvader commented on #17
It inherits from `BaseEstimator` so you can still use `set_params` - `set_epsilon` is used to set the optimal value of epsilon for a particular data set (it uses grid search).

[2018-05-30 10:04] bhargavvader commented on #17
- the COBRA algorithm aggregates by splitting the _training_ data; one portion to train the machines used in the aggregation, and the other portion to perform the prediction. To accommodate this I've included params for default splitting and machines (the `default` param).
- I can redo the example with cobra as the instance
- It isn't a train_test split, like I mentioned before, it is part of COBR

[2018-06-02 12:05] agramfort commented on #17
why not passing a cv object to define the partitioning in the fit or do
like we do with
http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html
with the out-of-bag samples ?

[2018-06-04 12:46] bhargavvader commented on #17
Hello @agramfort , a small update:

- I've changed it from COBRA to cobra in the documentation.
- I've changed it to _estimators but not yet pushed the changes to PyPi (and subsequently the documentation, which will reflect the latest version) because I would like to hear your feedback on the other parts of the code as well before releasing a new version of pycobra.
- The COBRA algorithm I was ref

[2018-06-05 13:02] agramfort commented on #17
before I take a look can you tell me where your doc is with the examples I
can run.
typically the ones from the sphinx-gallery. Why not putting it in the doc
folder in pycobra repo?

[2018-06-07 14:40] bhargavvader commented on #17
@agramfort  just pushed the files to the docs directory. You can find it over here: https://github.com/bhargavvader/pycobra/tree/master/docs.

[2018-06-07 22:11] aminzarshenas opened #32 "Request for inclusion: BCA Feature Selection"
Request for project inclusion in scikit-learn-contrib

* Project name: bca
* Project description: Binary Coordinate Ascent (BCA) algorithm for feature subset selection
* Authors: Amin Zarshenas, Vijay Srinivas Tida, Kenji Suzuki
* Current repository: https://github.com/aminzarshenas/bca
* Requirements:
 * [ ] scikit-learn compatible (check_estimator passed)
    It does not pass the check_estimator

[2018-06-08 14:29] agramfort commented on #32
where is the documentation? I don't see the url.

[2018-06-08 16:29] aminzarshenas commented on #32
The documentation is not formal at the moment. The usage is in the readme.md file. Is there a guideline or common style to create the documentation?

[2018-06-08 18:11] MaxHalford commented on #32
You're supposed to follow the official [template](https://github.com/scikit-learn-contrib/project-template). It uses [sphinx](http://www.sphinx-doc.org/en/master/) to generate documentation from your code comments.

[2018-06-08 21:20] aminzarshenas commented on #32
Thank you for your help and the links. I followed the template and put the .rst files as well as the built .html files in the bca/doc directory.

[2018-06-09 10:59] agramfort commented on #32
or use gh-pages

[2018-06-12 16:06] aminzarshenas commented on #32
@MaxHalford @agramfort Thank you for your help and advice and sorry for the delay as I was not very familiar with sphinx and readthedocs. I modified a bit, created the [documentation](https://bca.readthedocs.io) and put the link in the README.md file as well.

[2018-06-21 11:55] bhargavvader commented on #17
Hello @agramfort , just wanted to let you know that the paper describing pycobra is now published at JMLR: http://jmlr.org/papers/v18/17-228.html
This has been reflected to the documentation and github repository.

[2018-07-17 06:17] mcasl commented on #28
Mixin classes now on Master too

[2018-09-02 19:36] thuijskens opened #33 "Request for inclusion: Stability selection"
Request for project inclusion in scikit-learn-contrib

* Project name: stability_selection
* Project description: Stability selection implementation with scikit-learn compatible API.
* Authors: Thomas Huijskens
* Current repository: https://github.com/thuijskens/stability-selection
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation is [here](https://thuijs

[2018-09-05 09:29] agramfort commented on #33
+1 for me

can you give me admin rights to your repo so I can transfer it
to scikit-learn-contrib org?

[2018-09-05 19:36] thuijskens commented on #33
Hi @agramfort! I've sent an invite for collaboration, I'm assuming I can give you admin rights when you confirm that.

If instead I need to transfer the repo to scikit-learn-contrib and to your username, let me know and I'll do that instead :+1:

[2018-09-06 07:57] agramfort commented on #33
repo is transferred https://github.com/scikit-learn-contrib/stability-selection

@thuijskens can you send a PR to update https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md ? thanks

[2018-09-06 07:57] #33 closed

[2018-10-03 12:44] dsaxton opened #35 "Bootstrapping for sklearn-contrib"
I've authored a package called `resample` which I believe would make a nice addition to sklearn-contrib.  The idea is to provide clean implementations of bootstrapping methods (both bootstrap samples and bootstrap confidence intervals) which can be applied to a broad class of problems, including the construction of confidence intervals for linear model coefficients, as well as prediction intervals

[2018-10-10 18:17] luizgh opened #36 "Request for inclusion: DESLib"
Request for project inclusion in scikit-learn-contrib

* Project name: DESLib
* Project description: DESlib is an ensemble learning library focusing the implementation of the state-of-the-art techniques for dynamic classifier selection and dynamic ensemble selection.
* Authors: Rafael M. O. Cruz, Luiz G. Hafemann
* Current repository: https://github.com/Menelau/DESlib/
* Requirements:
 * [x] sciki

[2018-10-11 10:14] GaelVaroquaux commented on #36
Overall, with a very cursory look, this seems great.

Two comments:

* Could you add a bit of plotting to your examples? It makes it much
  easier to understand them.

* The limit of 80 chars per line is part of PEP8 and not respecting it
  means that your code deviates very strongly from the standard. As a
  consequence it requires a different eye (hence switching across
  codebases is tiring) an

[2018-10-11 17:13] luizgh commented on #36
Thanks for the quick review. I understand the reasons for the PEP8 compliance, and we will update the code. We will also include examples that are more visual (we already have material that was developed for a tutorial, that we will merge on this library: https://github.com/Menelau/synthetic_datasets). I will let you know when these changes are done

[2018-10-25 13:43] luizgh commented on #36
@GaelVaroquaux, we have made the code fully compliant to PEP8 (```pycodestyle deslib``` returns no errors). The gallery of examples was also re-worked, including plots for 6 out of the 9 examples: https://deslib.readthedocs.io/en/latest/auto_examples/index.html
We would appreciate if you can continue with the review for including this package as part of scikit-learn-contrib. Thanks!

[2018-10-26 09:51] agramfort commented on #36
+1 on my side. I did run pytest and I can confirm that check_estimator is called on the estimators.

[2018-10-26 09:58] agramfort commented on #17
hi @bhargavvader sorry for the slow reply.

I just gave a new try on the lib.

2 things I saw when running `pytest pycobra tests`:
- your tests pop up matplotlib windows. Please make sure you use Agg backend
- one test is broken with current check_estimator version:

[code]

Nitpicks:
- also some tests seem to be quite long to run. It would certainly help devs to see if you reduce the testing time

[2018-10-26 11:39] ngoix commented on #36
Looks great!
Would be nice to see more benchmarks. I would also be very interested in seeing benchmarks against a stacked model with two layers (same pool of classifiers + decision tree or logistic regression) which is from my understanding the most basic dynamic classifier selection you can do (is it?).

[2018-11-05 19:11] bhargavvader commented on #17
Thanks for pointing that out @agramfort ! Before I push the changes to make the tests pass, I had a question regarding the time taken for the test vs test coverage. The reason the tests take a while now is because I am running a bunch of the visualisations - these are pretty heavy operations. If I don't test all the visualisations the test coverage drops but so does the time taken. What kind of tr

[2018-11-07 15:54] luizgh commented on #36
@ngoix - we have added benchmarks against a stacked model on the examples from the gallery.

Note that stacking is not considered dynamic selection in the DS literature: in stacking the meta-classifier (combiner) receives the output of all base classifiers and aggregates all of them to give the final decision, while in DS the "incompetent" base classifiers are removed first and them only the outpu

[2018-11-08 01:59] agramfort commented on #17
there is no way to speed up the viz tests?

if not you can use something like pytest.mark.slowtest to only run the fast
tests by default and
run the test with py.test -m "not slowtest"

but I would really see if you can speed up the tests ie don't run twice the
same thing,
use smaller data/resolutions etc.

[2018-11-09 14:56] phausamann opened #37 "Request for inclusion: sklearn-xarray"
Request for project inclusion in scikit-learn-contrib

* Project name: sklearn-xarray
* Project description: [xarray](http://xarray.pydata.org/en/stable/) compatibility wrappers for sklearn
* Authors: Peter Hausamann
* Current repository: https://github.com/phausamann/sklearn-xarray
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation: https://phausamann.git

[2018-11-27 14:59] luizgh commented on #36
Hi all, is this request still being reviewed? It has been 20 days since the last update, just want to make sure it doesn't fall into a limbo.

[2018-12-03 07:47] ngoix commented on #36
Thanks for the new example @luizgh.

I'm +1 for merging.

Am I right to say that the big difference between 2-layers stacking and DS is that, in DS, the meta-estimator is able to perform "local feature selection" (where 'features'= original features + 1st layer model predictions, and 'local' means nearest neighbors)?
It would be nice to have an example illustrating the advantage of DS compared to

[2018-12-18 14:37] luizgh commented on #36
Thanks for the review @ngoix - can you please advise on the next steps to have this moved to scikit-learn-contrib?

About your question: in DS, the meta-estimator uses the concept of a "Region of competence" that is local (where local can be defined by clustering or nearest neighbors in either input space or in "output profiles") to select or weigh the decisions of the base classifiers. (more deta

[2018-12-19 02:41] #21 closed

[2018-12-23 11:07] GaelVaroquaux commented on #36
+1 for inclusion.

The only way that I know for inclusion is that you add me (or another member of scikit-learn-contrib) to the admins of your repo, and I transfer the repo to scikit-learn-contrib.

[2018-12-24 07:41] bhargavvader commented on #17
Sorry for the super long delay @agramfort and @GaelVaroquaux - I've made changes now to reflect the feedback.
To make sure the tests don't pop up matplotlib windows I've added `matplotlib.use('egg')`, but doing this _after_ I run pytest causes problems for Travis. What I've done to get around this is use a `tests.py` file which calls the tests through pytest, so that Travis doesn't have any proble

[2018-12-24 11:14] GaelVaroquaux commented on #17
I'm still getting failures, and I note that they are failures on travis: https://travis-ci.org/bhargavvader/pycobra/jobs/471784413
Also the travis job is displayed as passing, some tests are failing. From a cursory look, it seems to be simple numerical precision issues that could be fixed by setting a more suitable tolerance in the tests.

I was running the test simply by starting "pytest" in the

[2018-12-25 07:20] jnothman commented on #36
If you make them an org member of scikit-learn-contrib you can ask them to
transfer it here.

[2018-12-25 09:21] bhargavvader commented on #17
Thanks for pointing that out @GaelVaroquaux - for some reason my tests were acting funny and being different on AppVeyor, Travis and my local machine. I think I've ironed it out now, and all the tests pass on Travis.

While the tests would normally pass just by running `pytest`, the matplotlib windows start to cause a problem which is why I use the script... The script itself just runs pytest, alo

[2018-12-26 15:59] GaelVaroquaux commented on #36
Happy to do that: we need more responsible people member of the org.

@luizgh, do volunteer?

[2018-12-26 16:05] luizgh commented on #36
Hi @GaelVaroquaux, just to make sure I understand your question - do you mean adding me as a member of scikit-learn-contrib (e.g. for reviewing requests to add projects to the repository. Is there anything else?)

[2018-12-26 16:30] GaelVaroquaux commented on #36
All correct.

[2018-12-26 18:09] luizgh commented on #36
Sure, I will be glad to do it.

[2018-12-29 13:18] luizgh commented on #36
Thanks @GaelVaroquaux - I transferred the repository. @GaelVaroquaux, @ngoix, @jnothman, @agramfort - thanks a lot for taking the time to review this project inclusion!

I should have some time after the holidays - I will check the list of new projects after the new year. Happy holidays!

[2018-12-29 13:18] #36 closed

[2019-01-24 03:49] #35 closed

[2019-01-24 04:21] jnothman commented on #35
Sorry about our non-response. We haven't really got our review processes for scikit-learn-contrib sorted in a way that they function in a timely manner.

[2019-02-12 23:03] nathan-toubiana opened #38 "Request for project inclusion: scitime"
Request for project inclusion in scikit-learn-contrib

* Project name: scitime
* Project description: package that gives runtime estimations of scikit-learn algorithms
* Authors: Nathan Toubiana, Gabriel Lerner
* Current repository: https://github.com/scitime/scitime
* Requirements:
 * [NOT APPLICABLE] scikit-learn compatible (check_estimator passed)
 * [x] Documentation
 * [x] Unit tests (coverag

[2019-02-13 00:24] jnothman commented on #38
Interesting! We had ideas for a similar tool at
https://github.com/scikit-learn/scikit-learn/issues/10289 (and an initial
implementation). You might want to also benchmark for memory consumption.

[2019-02-13 03:34] nathan-toubiana commented on #38
Thanks for taking a look @jnothman!

We did look at the initial implementation of the benchmarking tool you pointed us to.
In some regards, the benchmark_estimator_cost function is similar to our generate_data framework which gathers memory consumption and fit runtime while circling through a parameter space for the estimator. However, the benchmark_estimator_cost function seems to fit a runtime e

[2019-02-24 01:05] nathan-toubiana commented on #38
Hi @jnothman , just wanted to follow up on our request and make sure it does not get forgotten.
Let us know if you need anything from us, we’re very much looking forward to your review.
Thanks again!

[2019-02-24 16:45] jnothman commented on #38
We seem to be a bit stuck on scikit-learn-contrib: we do not have a clear
process for review. I tend to focus on the core library, but I hope we
discuss how to better maintain contrib at the sprint this week.

[2019-02-24 16:54] GaelVaroquaux commented on #38
I think that rather than a problem with the process, we simply lack people.

⁣Sent from my phone. Please forgive typos and briefness.​

On Feb 24, 2019, 17:45, at 17:45, Joel Nothman <notifications@github.com> wrote:

[2019-03-02 21:36] pinjutien opened #39 "Request for project: mimic calibration"
Request for project inclusion in scikit-learn-contrib

* Project name: Mimic calibration
* Project description:
This [MIMIC calibration](https://www.youtube.com/watch?v=Cg--SC76I1I) was mentioned by NYC ML Meetup talk given by Sam Steingold. With my understanding from this talk, I implemented this method.
It is a method to calibrate probability prediction of binary classification model.
* Authors:

[2019-03-03 13:33] adrinjalali commented on #39
Could you please base your project on our template (https://github.com/scikit-learn-contrib/project-template)?

You can wait a week or so, since we're doing some cleanups and updates on the template project.

[2019-03-03 13:52] pinjutien commented on #39
Sure. thanks for the feedback.

[2019-03-04 20:43] amueller commented on #39
might be interesting to add an example comparing with isotonic regression, they seem quite related.

[2019-03-07 01:19] pinjutien commented on #39
yes. it will be interesting to compare those two. I will update this comparison.

[2019-03-10 15:54] pinjutien commented on #39
I updated the comparison between mimic, isotonic and platt scaling in [the README file](https://github.com/pinjutien/mimic). Base on my example, the prediction space from mimic is more continuous than isotonic method as we can expect.

[2019-03-10 18:32] amueller commented on #39
Thanks. That makes sense. I guess the question is more how that is reflected in the calibration, right? So in terms of calibration curve, calibration score or brier score. Or how would you evaluate these?

[2019-03-10 20:05] pinjutien commented on #39
Thanks for the feedback. I am working on the calibration curve and brier score. will update it later.

[2019-03-17 21:25] pinjutien commented on #39
Hello, I update the calibration curve and brier score for both isotonic and mimic calibration.
In summary,
- brier score: isotonic and mimic are very close to each other.
- calibration curve: isotonic is more spiky as nbins increase in the calibration curve. It is because the step function of isotonic regression. (the more number of data, the less spiky of isotonic regression in the calibration cu

[2019-03-18 16:53] amueller commented on #39
That's pretty neat I'd think :)

[2019-03-19 01:52] nathan-toubiana commented on #38
Hi @jnothman and @GaelVaroquaux - thanks for the update, it makes perfectly sense.

We just published a medium [article](https://medium.freecodecamp.org/two-hours-later-and-still-running-how-to-keep-your-sklearn-fit-under-control-cc603dc1283b) featured on FreeCodeCamp describing our process, if that helps.

[2019-03-24 21:50] pinjutien commented on #39
Hello,
I made this mimic repository to fit in project-template, including those info in the doc folder (user_guide.rst ...etc).
Do you think this project is good or useful to be one of projects of scikit-learn-contrib ?
If yes. What is the next step to do ? From my understanding, the only thing I have not test is circleci part. If I miss anything else, please let me know. Thanks.

[2019-03-25 19:08] amueller commented on #38
@GaelVaroquaux I don't understand your point. We need a process that works with the resources we have. I don't see why we could hope to have "enough" people at some point.

We should probably discuss how much of a review we want to do.
I'd like to see this in contrib but it seems unlikely I'll have time to review.

[2019-03-25 19:10] amueller commented on #38
@joaquinvanshoren and @janvanrijn might be interested in this as well.

[2019-03-25 19:11] amueller commented on #38
@joaquinvanschoren and @janvanrijn might be interested in this as well.

[2019-04-07 23:11] pinjutien commented on #39
@adrinjalali @amueller I added a continuous integration in [this mimic calibration repo](https://github.com/pinjutien/mimic). When you have time, let me know if you have any further suggestions and thought on this. Thank you.

[2019-04-10 12:29] agramfort commented on #39
ok to merge on my side

[2019-04-10 12:39] adrinjalali commented on #39
@pinjutien I can transfer your repo to contrib if you make me a member of your repo/org I suppose.

[2019-04-10 23:49] pinjutien commented on #39
@adrinjalali I added you as Collaborators in my repo. Let me know if it works.

[2019-04-11 12:20] adrinjalali commented on #39
@pinjutien I think it needs to be an ownership access for me to be able to transfer the repo, I don't have those permissions now.

[2019-04-11 16:06] adrinjalali commented on #39
The repo is now here: https://github.com/scikit-learn-contrib/mimic, and I've added you to a team with admin access to it. Thanks :)

[2019-04-11 16:06] #39 closed

[2019-05-06 15:45] nathan-toubiana commented on #38
Hi all - just wanted to follow up on this and see if there was any update.
Happy to help if there’s anything we can do to accelerate the review process

[2019-05-07 15:14] amueller commented on #38
@nathan-toubiana Sorry for the delay, I hope I can get to this in May, maybe someone else will get to it earlier.

[2019-05-07 15:19] MaxHalford commented on #31
Hey, I'm working on other more worthy things at the moment and you have a lot on your plate, so I'll close this issue. I'll reopen it some other time.

[2019-05-07 15:19] #31 closed

[2019-05-07 15:22] amueller commented on #31
Sorry for the lack of reply :(

[2019-05-07 15:25] MaxHalford commented on #31
@amueller it's no problem at all! To be honest with hindsight it needs some more polishing anyway. Anyway, I'm working on an exciting new project called [creme](https://creme-ml.github.io/), I'm going to present it at PyData Amsterdam this weekend.

[2019-05-08 02:39] nathan-toubiana commented on #38
thanks for the update! We're very excited to hear that.

[2019-05-08 19:19] amueller commented on #38
btw have you compared to the model that's within oboe? https://github.com/udellgroup/oboe

[2019-05-08 20:01] nathan-toubiana commented on #38
Thanks for the reference. Based on their [paper](https://arxiv.org/pdf/1808.03233.pdf), it seems that their 'meta models' only account for the number of observations and features as meta inputs (we do add model hyperparameters and machine performance as meta inputs) - other than that and the fact that their meta models are polynomial regressions, their logic is pretty similar to our

[2019-05-08 20:52] amueller commented on #38
I think their model is per hyper-parameter setting, but it's not entirely clear to me. I need to check the code. They say they have relatively accurate results with a simple model. I don't think they look across machines at all, though. Anyway, the paper seemed cool and I thought you might be interested.

[2019-05-08 20:56] nathan-toubiana commented on #38
oh that makes sense - not sure how they handle non-categorical hyper-parameters though, I ll look at the code. Definitely super interesting! thanks a lot

[2019-06-05 16:05] nathan-toubiana commented on #38
Hi @amueller , we wanted to know if you had a chance to look through our submission?
We are always available if you have any questions of course.
Thank you very much!

[2019-07-22 14:14] wdevazelhes opened #40 "Request for inclusion: metric-learn"
Request for project inclusion in scikit-learn-contrib

* Project name: metric-learn
* Project description: A scikit-learn compatible library for metric learning, including learning a metric from labels, from pairs, from quadruplets, and more to come
* Authors: CJ Carey, Yuan Tang, William de Vazelhes, Aurélien Bellet, and Nathalie Vauquier
* Current repository: https://github.com/metric-learn/metr

[2019-07-23 12:28] adrinjalali commented on #40
Nice, this looks like an easy one to include. I'd be happy to have it the contrib.

[2019-07-25 10:19] rth commented on #40
Thanks @wdevazelhes, The documentation and package quality is very nice! A few comments,
 - it could be indeed useful to improve PEP8 compatibility. I have not seen that many flake8 errors, apart from the 2 space indentation. It's a (regrettable :))  choice some projects make, I wouldn't consider it a blocker.
 - it would be good to add Python 3.7 to CI tests.
 - for the weakly supervised models t

[2019-07-25 12:54] agramfort commented on #40
+1 for me

[2019-08-01 09:25] wdevazelhes commented on #40
Thanks for the review and comments @adrinjalali, @rth, and @agramfort, we just fixed the PEP8 errors (except the indentation), and added a check in travis so ensure future PRs are PEP8 compliant. We also added a test to check Python 3.7 compatibility.

[2019-08-01 09:39] rth commented on #40
@wdevazelhes I have created the `metric-learn` team in this org and invited you there. You should have the permission to move metric-learn under this org, but if it's not the case please let me know. Also please let me know if other contributors should be added to that team.

[2019-08-01 10:01] wdevazelhes commented on #40
@rth thanks a lot ! I'll try the transfer. Yes, could you add the other members from the `metric-learn` org ? Namely @perimosocordiae, @bellet, @nvauquie, and @terrytangyuan

[2019-08-01 12:39] rth commented on #40
Sure, invites were sent for https://github.com/orgs/scikit-learn-contrib/teams/metric-learn/members

[2019-08-01 13:06] wdevazelhes commented on #40
Thanks @rth
I did the transfer, though I don't know why we don't have edit access to the repo `scikit-learn-contrib/metric-learn` anymore
Did I do something wrong ? When transferring, github asked me which teams should have write access to the package, and I put the `metric-learn` team

[2019-08-01 13:18] rth commented on #40
Great that it worked! It looks like default permissions are read. Changed them so that @scikit-learn-contrib/metric-learn members have admin permissions to https://github.com/scikit-learn-contrib/metric-learn. You would likely need to re-setup CI for the repo (unless they now handle it automatically).

Closing as resolved. If there are any other issues, please let me know by commenting in this iss

[2019-08-01 13:18] #40 closed

[2019-08-01 13:22] terrytangyuan commented on #40
Thanks @rth! @wdevazelhes Seems like the documentation page is not available anymore: http://metric-learn.github.io/metric-learn/. Should we redirect it to http://contrib.scikit-learn.org/metric-learn/?

[2019-08-01 13:29] bellet commented on #40
Yes if we could redirect it (ideally, with HTTP status 302: Moved permanently), that would be great

[2019-08-01 13:31] bellet commented on #40
@terrytangyuan do you know how to do that?

[2019-08-01 13:34] rth commented on #40
https://help.github.com/en/articles/redirects-on-github-pages might help. However as far as I understood that would require to create a `metric-learn/metric-learn` repo meaning that automatic redirects from https://github.com/metric-learn/metric-learn to the new location will stop to work.

If you do that, maybe worth forking the repo back to https://github.com/metric-learn/metric-learn, explcitly

[2019-08-01 13:42] bellet commented on #40
Thanks, @rth. Not sure we should redirect then - forking the repo is likely to introduce confusion?
I think we also lost the doc url when we moved the package from all-umass to metric-learn organization last year - seems like Google picked up the new address rather quick

[2019-08-01 13:44] terrytangyuan commented on #40
I would say we can probably leave it for now. I'd prefer to keep the auto-redirect to the new Github repo. I am sure users would be able to do a quick Google search and find out where the documentation is.

[2019-08-01 13:47] wdevazelhes commented on #40
Also, there seems to be a possible solution here: https://gist.github.com/domenic/1f286d415559b56d725bee51a62c24a7
Creating a Github Pages user `metric-learn` (and not a Github user), so that the repo `metric-learn/metric-learn` is still empty (hence redirection), but it allows to edit the Github Page with a redirection strategy

[2019-08-01 14:36] bellet commented on #40
Good job @wdevazelhes, looks like it is working (for the root page anyway). Not a 301 redirection but better than nothing anyway.

[2019-08-01 14:37] terrytangyuan commented on #40
Nice work @wdevazelhes!

[2019-09-12 11:24] lachhebo opened #42 "request for project inclusion : pyclustertend"
Request for project inclusion in scikit-learn-contrib

* Project name: pyclustertend
* Project description: a package to assess cluster tendency
* Authors: Ismaël Lachheb
* Current repository: https://github.com/lachhebo/pyclustertend
* Requirements:
 * [x] scikit-learn compatible (no estimator included)
 * [x] Documentation (guide, API reference, example gallery)
 * [x] Unit tests (coverage: 93%)

[2019-09-13 08:55] agramfort commented on #42
I could not find the documentation easily

[2019-09-13 12:04] lachhebo commented on #42
The documentation is here : https://pyclustertend.readthedocs.io/en/latest/pyclustertend.html

[2020-01-04 04:49] leockl commented on #42
Wouldn't it be better to include the documentation link in your doc folder?

[2020-01-04 10:45] lachhebo commented on #42
Actually, the documentation website is built using source contained in the doc folder. I am using [readthedoc](https://readthedocs.org/) and [sphinx](https://www.sphinx-doc.org/en/master/).
In a nutshell, each time i am updating the documentation contained in the doc folder, the website is updated

[2020-01-05 02:10] leockl commented on #42
Ok thanks.

Not sure but your researchgate link below under the readme.md file is not working?

https://www.researchgate.net/publication/224218006_An_Efficient_Formulation_of_the_Improved_Visual_Assessment_of_Cluster_Tendency_iVAT_Algorithm/link/0912f50fb54089734a000000

[2020-01-05 14:49] lachhebo commented on #42
Thank you for the insight, it seems the article is not yet freely available on the web.
I have removed the link.

[2020-01-10 14:30] leockl commented on #42
Welcome, no probs.

Apologies if this is not the right area for me to ask, but I am building my own Sphinx documentation as well and was wondering how do you change "View page source" which was originally at the top right hand corner to " Edit on GitHub"

![pyclustertend_question](https://user-images.githubusercontent.com/57784789/72159571-c35d1580-3410-11ea-96ec-b3c445752984.png)

Also, once you

[2020-01-10 15:19] lachhebo commented on #42
Haha it is definitely not the right place to ask 😅

To answer to your questions. It is because i am using a service called readthedoc that i can put my documentation online; the service is free for open source software.
Check their website for more information : https://readthedocs.org/

[2020-01-24 11:11] leockl opened #44 "Request for Project Inclusion: Helstrom Quantum Centroid Classifier"
Request for project inclusion in scikit-learn-contrib

* Project name: helstrom-quantum-centroid-classifier
* Project description: A package which implements a quantum-inspired supervised classification approach for data with binary classes
* Authors: Leo Chow
* Current repository: https://github.com/leockl/helstrom-quantum-centroid-classifier
* Requirements:
 * [x] scikit-learn compatible (check_

[2020-01-28 14:04] adrinjalali commented on #44
Looks like a descent one to me :)

[2020-03-05 20:14] chkoar commented on #42
Could you increase your code coverage? It seems too low.

[2020-03-05 20:22] lachhebo commented on #42
okay i think i can easily work on that

[2020-03-05 20:35] chkoar commented on #44
Great package. I would use all package names and all variable names in snake_lower case.

[2020-03-05 20:39] chkoar commented on #44
Couldn't we use `centroids_` instead of both `centroid_class_0_` and `centroid_class_1` to stay in line with `NearestCentroid`?

[2020-03-05 20:43] chkoar commented on #10
@shubhankar90 what is the status on this?

[2020-03-05 20:52] chkoar commented on #20
The package is impressive. Since estimators are clonable I am +1 for inclusion.

[2020-03-05 23:06] lachhebo commented on #42
it's done, now the coverage is 93%.

[2020-03-06 08:01] chkoar commented on #42
Another round.

- I would provide a link to the documentation clearly like the following example:
![image](https://user-images.githubusercontent.com/11897937/76062010-6d7a9900-5f8d-11ea-96b8-3b77f58b7633.png)
- I would increase the content of the documentation (better user guide, add references, etc) See [here](http://contrib.scikit-learn.org/py-earth/) for a small example
- Something is wrong wit

[2020-03-06 09:23] lachhebo commented on #42
Thanks for your feedback

- _I would provide a link to the documentation clearly like the following example_
-> good idea

- _I would increase the content of the documentation (better user guide, add references, etc) See here for a small example_
-> this package documentation is great, i will work on that.

- _Something is wrong with the vat module in the documentation_
-> I broke something yester

[2020-03-06 09:25] chkoar commented on #42
I was referring to the module.

[2020-03-06 09:26] lachhebo commented on #42
ah okay, i renamed it visual_assessment_of_tendency yesterday

[2020-03-09 06:35] leockl commented on #44
Thanks for the upvote @chkoar. We will get back to you on the two feedback you have raised soon, as we are also in the process of updating the package with some new features.

[2020-03-23 20:02] lachhebo commented on #42
i have worked on the documentation i think it is much better now, you can check it out  [here](https://pyclustertend.readthedocs.io/en/latest/)

[2020-05-03 14:06] koaning opened #45 "Request for project inclusion: scikit-fairness"
Request for project inclusion in scikit-learn-contrib

**Introduction**

Hi all,

my name is Vincent Warmerdam and together with Matthijs Brouns (@MBrouns) we've started a project called scikit-lego a while ago. It's a set of scikit-learn compatible tools that we wanted to open source. It's taken off, we hear it is in production, it has 2K downloads a month and we use sklearn's testing framework t

[2020-05-04 09:05] adrinjalali commented on #45
It's great to see you working on this topic as well. I've been working closely with fairlearn devs to make the tools there sklearn compatible, and they seem quite open about external collaborations. I'd be happy to have a fairness related package in sklearn-contrib, but as you mention, I'd be happier if we work on the same package and include the tools in that place.

Let's see what the feedback o

[2020-05-28 07:41] glemaitre commented on #45
It seems that the feedback in `failearn` is positive. @koaning we could  close this PR then?

[2020-05-28 22:48] amueller commented on #38
Sorry :-/

[2020-05-30 19:35] chkoar commented on #44
Amy update on this?

[2020-06-01 12:48] leockl commented on #44
Hey guys, sorry I have been caught up with a few too many things the last couple of weeks. I will get this completed by the end of this week.

My upmost sincere apologies for the delay!

[2020-06-04 21:31] #45 closed

[2020-06-07 12:55] leockl commented on #44
Hi chkoar, the package have now been updated:

* package names, file names and variable names in snake_lower case - with the exception of the variable feature matrix X and variable names using X, to be in line with Scikit-learn naming convention and readability purposes.

*  `centroids_` array is now used instead of both `centroid_class_0_` and `centroid_class_1` to stay in line with NearestCentro

[2020-06-07 15:12] chkoar commented on #44
Hey @leockl ,

- I would named it as `centroids_`, as you said. Not `centroid_`, as it [is](https://github.com/leockl/helstrom-quantum-centroid-classifier/blob/8c0bc66b19347c6dbb08e3d6bfa94dccf63a8819/hqc/hqc.py#L202) named now.
- It seems that the classifier can cope only with binary problems, right? Could you detect that and warn the user? It seems that [estimators tags](https://scikit-learn.org

[2020-06-08 01:28] leockl commented on #44
Hi @chkoar, yes for now the classifier can only cope with binary problems only. I have already included this warning in the 1st paragraph in the README.md file and in the 1st paragraph in the documentation. The estimator tag is also already included in the source code [here](https://github.com/leockl/helstrom-quantum-centroid-classifier/blob/8c0bc66b19347c6dbb08e3d6bfa94dccf63a8819/hqc/hqc.py#L60)

[2020-07-13 05:54] leockl commented on #44
Hi @chkoar, could you please provide your updated feedback on the estimators tags that you have mentioned above?

[2020-07-26 10:16] leockl commented on #44
Hi @chkoar, I have updated the package with your previous two suggestions:
- updated `centroid_` to `centroids_`.
- changed the class constructor to capitals `HQC`.

I haven't heard back from you in awhile and I haven't heard back from you about the estimator tag that I have mentioned above if it is good enough. Could you please have a look and complete this. This package has been sitting here for

[2020-07-27 08:08] chkoar commented on #44
Hey @leockl,

I had the impression that the `check estimator` was testing the case where your have a binary classifier and you are passing a non-binary problem. But as I can see this is not the case.

IINM as a user I would expect as many probas (from `predict_proba`) as the classes of the problem.
So, I suppose that you should raise an exception. Something similar like the following:
[code]

Apar

[2020-07-30 18:24] LastShekel opened #46 "Request for project inclusion: ITMO_FS"
Request for project inclusion in scikit-learn-contrib

* Project name: ITMO_FS
* Project description: Feature selection library in Python
* Authors: Ivan Smetannikov,
Nikita Pilnenskiy,
Dmitrii Shusharin,
Vlad Kurilenko,
Anton Kachur,
CTLAB ITMO University
* Current repository: https://github.com/ctlab/ITMO_FS
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documenta

[2020-07-30 21:03] chkoar commented on #46
From a first scan:

1. I would increase the code coverage
2. I would use standard Python naming conventions for python modules (e.g. snake case)
3. I would inherit from `sciki-learn` base classes (see SelectorMixin where applicable)
4. I would use relative imports everywhere (apart from tests obviously)

[2020-08-04 07:02] leockl commented on #44
Hi @chkoar,

Many thanks for your response. I will update all the suggested requests. With the request on adding test cases for the HQC learnt attributes, do you have any examples or guidelines on how this is done?

[2020-08-05 21:31] Flop-py opened #47 "Request for project inclusion : RelaxedLasso"
Request for project inclusion in scikit-learn-contrib

* Project name: RelaxedLasso
* Project description: Implementation of Relaxed Lasso Algorithm for Linear Regression
* Authors: Grégory VIAL & Flora ESTERMANN
* Current repository: https://github.com/continental/RelaxedLasso
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation (guide, API reference, examp

[2020-08-07 13:31] chkoar commented on #44
@leockl could you take a look [here](https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6ed713c00724f8f871d60370/sklearn/neighbors/tests/test_nearest_centroid.py)?

[2020-08-13 07:18] adrinjalali commented on #47
I was wondering, if it's a single model, wouldn't it be better suited to be in scikit-learn-extra?

[2020-08-13 07:18] adrinjalali commented on #47
What do you think @rth?

[2020-08-13 08:37] adrinjalali commented on #46
I think where the names are abbreviations, capital letters are fine e.g.: https://scikit-learn.org/stable/modules/classes.html?highlight=svm#module-sklearn.svm
I'm not a big fan of capital letter package name, but that's for the authors to decide I guess.

Otherwise, better documentation, more tests, and better sklearn integration are all places you could improve.

You could also fix some of the i

[2020-09-02 04:00] leockl commented on #44
Hi @chkoar,

My sincerely apologies for the delay on my reply. I have now updated the package with your suggestions:
- added the exception error when there are more than 2 classes.
- added test cases for the HQC learnt attribute `hels_bound_`.
- removed redundant dependencies in `requirements.txt`.
- included `install_requires` in `setup.py`.

Please review. Many thanks.

[2020-09-14 11:22] GregVialConti commented on #47
Hello @adrinjalali and @rth , it would be great to get your feedback on this so we know the best way to move forward. Thanks in advance!

[2020-09-16 07:41] agramfort commented on #47
I agree that it would be a better fit for new estimators in scikit-learn-extra

[2020-09-23 11:18] asergiobranco opened #48 "CLARA - Transpiler"
Request for project inclusion in scikit-learn-contrib

* Project name: Clara-Transpiler
* Project description: Transpile trained ML models to C. PCA and Pre-processing tool are also available
* Authors: Sérgio Branco
* Current repository: https://github.com/asergiobranco/clara
* Requirements:
 * [x] scikit-learn compatible (check_estimator passed)
 * [x] Documentation (guide, API reference, exampl

[2020-09-23 17:05] adrinjalali commented on #48
Looks pretty neat, but it needs tests and a CI which I don't think it has right now.

[2020-11-01 01:17] leockl commented on #44
Hi @chkoar, could I please get an update on this? Many thanks.

[2020-11-16 07:18] chkoar commented on #44
@leockl sorry for the delayed reply.

Below, I list some minors (probably) since I cannot open issues in your fork.

- It seems that [this](https://github.com/leockl/helstrom-quantum-centroid-classifier/blob/master/hqc/hqc.py#L112-L134) block and [this](https://github.com/leockl/helstrom-quantum-centroid-classifier/blob/master/hqc/hqc.py#L293-L315) are identical. You could refactor in order to red

[2020-11-16 07:23] chkoar commented on #1
visible from afar.

I agree with both of you.

[2020-11-20 06:19] leockl commented on #44
Hi @chkoar,

Need to clarify a few things with you:
- **2nd point:** What do you mean by it could be a constant? Could you show an example.
- **3rd point:** This is correct and it's part of the algorithm when `n_copies == 1`.
- **4th point:** What do you mean by change it to `_`. Could you show an example.
- **5th point:** I guess this would be the same as 4th point above.

Could I confirm if you

[2020-11-20 15:23] chkoar commented on #44
`subscripts = "ij,ji->"`

Among others, the underscore variable it's a convention for a  "throwaway" variable. A variable that won't be used next. Common use cases are iterations and the unpackings.

[code]

[2020-11-27 13:11] GregVial commented on #47
Hello! We are still keen on moving forward with the inclusion of this estimator in scikit-learn-extra. Would you be able to run a review? Or are there other steps required on our side? Thanks in advance!

[2020-12-09 09:01] leockl commented on #44
Hi @chkoar,

Many thanks for the above. I have now updated the code according to your change requests.

Done.

Done.

This is correct and it's part of the algorithm when `n_copies == 1`. Please refer to the research paper.

Done.

This was an error in my part. `n` is not reused in `predict_proba()`, therefore I have now removed `n` here.

Please find the updated code here:
https://github.com/leock

[2020-12-09 11:38] j-bac opened #49 "Request for project inclusion: scikit-dimension"
Request for project inclusion in scikit-learn-contrib

* Project name: scikit-dimension: Intrinsic dimension estimation in Python
* Project description:
Intrinsic dimension is the minimal number of variables needed to represent a dataset. Global estimators return one dimension for the entire dataset. Some datasets have regions with different dimensions; in this case one can use local estimators to

[2020-12-20 11:21] adrinjalali commented on #49
Thanks for you interest. The estimators don't seem to have a `transform` method though.

[2021-01-03 15:32] j-bac commented on #49
Thanks for this remark. The API and docs have been improved and instead of `transform` methods estimators now have more appropriate `predict`-type methods inherited from a base class. We are happy to address other remarks, let us now if the project is a good fit for scikit-learn-contrib

[2021-03-02 22:11] nathan-toubiana commented on #38
Hi @amueller ,

Hope you are well. I'm following up on last year's request for our package scitime to be part of sk learn contribs. We've had a significant amount of requests and activity on our repo over the last few months so I thought it could be a good time to reopen our discussion. We'd love to hear how/if we could improve our package to be part of the scikit-learn community. Thanks!

[2021-03-02 23:35] rth commented on #38
Thanks @nathan-toubiana the project looks interesting, and I would make sense to have it in scikit-learn-contrib however I have a few questions / comments, for instance regarding the [usage example](https://scitime.readthedocs.io/en/latest/quickstart.html#usage):
  - it would help to have some brief description in the documentation how this is working internally (that you did in the article). Init

[2021-03-03 16:16] nathan-toubiana commented on #38
Hi @rth

Thanks for your prompt answer.

We did a [PR](https://github.com/scitime/scitime/pull/60) to add descriptions in the documentation (section `how it works`) - feel free to take a look and let us know. We confirm that we do use pre-trained datasets to estimate runtimes.

Once the runtime data is generated, it’s very quick to update the pkls (see the documentation [here](https://scitime.read

[2021-03-12 00:30] nathan-toubiana commented on #38
Hi @rth ,

Just wanted to follow up on our conversation, we re ready to make these changes and more if needed. Thanks!

[2021-03-27 16:30] nathan-toubiana commented on #38
Hi,

We just released a new version (v0.1.1) with all the changes discussed above.

[2021-04-02 16:54] adrinjalali commented on #49
any reason you think `predict` is more appropriate than `transform` here? Dimensionality reduction is mostly seen as a _transformer_ (for instance PCA), and for these transformers to be in the middle of a `Pipeline`, they need to implement the `transform` method. `predict` is only used for predictors (classifiers and regressors) usually.

[2021-04-02 19:47] j-bac commented on #49
I referred to [this page](https://scikit-learn.org/stable/developers/develop.html#apis-of-scikit-learn-objects). Transformers like PCA return a modified version of input data, like in the example: `new_data = transformer.fit_transform(data)`. It seemed to me that my usage was closer to the example for predictors: `probability = predictor.predict_proba(data)`.

The package does not perform dimensio

[2021-04-19 13:30] adrinjalali commented on #49
I guess then the question I'd ask, is what is the user supposed to do with these outputs? Are your estimators something which go in the middle of a pipeline, or they should be used at the end of a pipeline?

`predict` is usually used for transformers where the output is supposed to be compared with a ground truth, which doesn't seem to be available in your case. Or are these methods more similar t

[2021-04-19 14:16] j-bac commented on #49
I see two main usages for the outputs, mostly at the beginning/middle of a pipeline :

- global ID estimates can be used before dimensionality reduction in a pipeline, in order to choose how many dimensions to retain
- local ID estimates, as you say, have a goal more similar to clustering/partitioning of data. It can be useful to detect regions with different dimensionality/complexity in a dataset

[2021-04-19 15:04] adrinjalali commented on #49
I think then `transform` would be actually a good candidate then. One can create a `ColumnTransformer` and add your method there, the output of which can inform other estimators in a pipeline.

[2021-04-21 20:21] j-bac commented on #49
Thanks for this advice! I have released a new version changing predict back to transform

[2021-06-14 07:27] gmartinonQM opened #50 "Request for project inclusion: MAPIE"
Request for project inclusion in scikit-learn-contrib

* Project name: MAPIE
* Project description: Model Agnostic Prediction Interval Estimator. Cousin of `sklearn.calibration.CalibratedClassifierCV`, MAPIE works in regression settings and uses cross-validation residuals and submodels to compute uncertainties at prediction time. The implemented methods are recently introduced in [Rina Foygel Barb

[2021-06-14 08:12] chkoar commented on #50
Thanks for the package. I am +1 for the inclusion. IMHO a more`scikit-learn`ish way to provide the prediction intervals would be to expose them via a `transform` method.

[2021-06-14 17:27] adrinjalali commented on #50
since we already have certain methods such as `predict_proba` and `predict_log_proba`, I'd probably go with `predict_confidences` or something. But I'm also happy with including this, not sure if it should be it's own package or would make sense to be in `sklearn-extra`. Tagging @rth

[2021-06-28 07:05] gmartinonQM commented on #50
Thank you very much for your feedbacks ! @rth , I would be very happy to hear yours !

[2021-06-28 08:21] rth commented on #50
+1 for inclusion as well. @gmartinonQM , it's up to you,
 - either  you are OK contributing it to https://github.com/scikit-learn-contrib/scikit-learn-extra in which case we would be happy to include it there. For instance, because there are no other estimators planned.
 - or you prefer it to remain a separate package, in which case please transfer the repo top me (@rth) and I will transfer it bac

[2021-07-01 09:01] gmartinonQM commented on #50
Thank you very much @rth ! After discussion with the team, we prefer the second option. We have just sent you an invitation as admin for the package. Please let us know if you have received the invitation and if the transfer goes well.

[2021-07-01 09:16] rth commented on #50
It's done. Transferred to https://github.com/scikit-learn-contrib/MAPIE there is also a @scikit-learn-contrib/mapie team where you should be able to add members if necessary. If something doesn't work please comment in this issue.

[2021-07-01 09:16] #50 closed

[2021-07-01 09:28] gmartinonQM commented on #50
Thanks @rth ! Can you add my teammate [Vianney Taquet](https://github.com/vtaquet) to scikit-learn-contrib too ? It is one of the main contributors of the package.

[2021-07-01 09:39] rth commented on #50
Can't you add him yourself? You should have enough permissions normally.

[2021-07-01 09:40] rth commented on #50
Done.

[2021-07-01 20:03] gmartinonQM commented on #50
Thanks !

I have a last question : in the settings tab of the new project url, we cannot manage github secrets anymore (see screenshot before/after transfer). We were used to use secrets in our github actions for publishing automatically to PyPi at each release.

@rth, is there a way to recover this functionality ?

**Before**

<img width="1042" alt="Capture d’écran 2021-07-01 à 22 00 22" src="h

[2021-07-02 08:41] rth commented on #50
Can you try now? I ended up creating,
 - mapie team which has maintainership rights on the repo (including write access)
 - mapie/mapie-admin team which has admin right on the repo (and should allow you to set secrets)

With both of you currently. Please me know if is still doesn't work.

[2021-07-02 10:15] gmartinonQM commented on #50
Perfect ! We have retrieved our secrets and our PyPi publication workflow ! Thank you very much !

[2021-07-05 09:36] gmartinonQM commented on #50
Hi @rth, we would like to remove CircleCI builds for MAPIE (actually used for CI of the docs), since there is a large redundancy with readthedocs CI. However, we cannot manage CircleCI builds on behalf of scikit-learn-contrib organization (see screenshot).

Could you please click on "stop building" on CircleCI's MAPIE settings (Project Settings > Overview > scroll to bottom) ?

![Capture d’écran

[2021-07-12 13:01] rth commented on #50
@gmartinonQM Done.

[2021-10-08 13:09] bellet opened #51 "[metric-learn] Install codecov to have reports in PRs"
(not sure this is the right place to post this but I can't think of somewhere else)

Dear sklearn-contrib admins,

I am one of the maintainers of @scikit-learn-contrib/metric-learn and we would like to install the [Codecov app](https://github.com/marketplace/codecov) to be able to see codecov reports directly on the PRs

However it seems that owner rights on the team (we are only maintainers), or

[2022-02-03 03:20] egy1st opened #52 "Request for inclusion for DenMune clustering algorithm"
Request for project inclusion in scikit-learn-contrib

* Project name: DenMune
* Project description: DenMune a clustering algorithm that can find clusters of arbitrary size, shapes and densities in two-dimensions. Higher dimensions are first reduced to 2-D using the t-sne. The algorithm relies on a single parameter K (the number of nearest neighbors). The results show the superiority of the algor

[2022-02-04 15:10] adrinjalali commented on #52
@smarie would you have opinions on this?

[2022-02-21 15:32] smarie commented on #52
Hi @adrinjalali sorry for the late answer. I am not familiar with DenMune clustering algorithm.

 - I had a quick look at the journal pre-proof. From the results, it seems like a serious competitor to some algorithms that are said to be already implemented in scikit-learn (Hdbscan, Spectral Clustering and Kmeans++). https://scikit-learn.org/stable/modules/clustering.html .
However note (for @egy1s

[2022-02-24 10:53] adrinjalali commented on #52
Thanks for the insights @smarie . This is for scikit-learn-contrib and not the scikit-learn core package. So we hvae more relaxed constraints on including libraries and algorithms here.

Our policy so far as been that it should be documented, be tested, have a CI, and be compatible with sklearn, and be relevant to the community.

[2022-02-24 13:22] adrinjalali commented on #49
Sorry for the very late reply.

Checking your API, I noticed you have quite a few `fit` parameters which in sklearn they're always an `__init__` param, an example: `smooth=False, n_neighbors=None, comb='mean', n_jobs=1`.

Otherwise I think it's quite good and we can move it to the contrib org once you fix those.

[2022-02-24 13:23] adrinjalali commented on #49
I also note that there hasn't been much activity on the repo in the past year. Is it still maintained?

[2022-02-25 09:56] j-bac commented on #49
Thanks for the comments!

Indeed those are parameters shared by all estimators and only useful when calling `.fit_pw()` rather than standard sklearn `.fit()`

My reasoning is that it is confusing to put them as parameters of the class directly since:
- many estimators already have an `n_neighbors` parameter (with different purpose)
- parameters  of `.fit_pw()` are not used and don't change results

[2022-02-25 10:37] adrinjalali commented on #49
the `fit_pw` isn't a part of the sklearn API anyway, so you can do as you wish there, but it'd be nice to have the others follow the sklearn norms.

I'm happy to accept the project under the org anyhow, it seems mature enough.

[2022-02-25 11:59] j-bac commented on #49
I agree, I'll think how to adapt this for `fit`. Happy to move the repo under the org if you send the request (or do I have to send it?)

[2022-03-03 13:51] adrinjalali commented on #49
I think you need to send a request and I can accept it.

[2022-03-03 14:01] j-bac commented on #49
I get message "You don’t have the permission to create public repositories on scikit-learn-contrib" when trying to transfer ownership to scikit-learn-contrib

[2022-03-03 16:16] adrinjalali commented on #49
I don't think you've given me enough permissions to move the repo.

[2022-03-03 16:49] j-bac commented on #49
you mean transferring it to you ? I sent an invitation to do that. Will people be properly redirected from [https://github.com/j-bac/scikit-dimension/](https://github.com/j-bac/scikit-dimension/) to scikit-learn-contrib if we do this, though ? We provide this link in the paper

[2022-03-03 17:06] adrinjalali commented on #49
I got the invitation and accepted, but I still don't see "settings" when I go to your repo. You probably need to raise my permission level.

If it doesn't you can always have a fork of the repo under your account anyway and people will see that. You can also contact github after the move to change the "forked from" setting of your repo to the contrib one.

[2022-03-03 17:09] adrinjalali commented on #49
Got it, will move it to the org.

[2022-04-20 17:42] QB3 opened #54 "Request for project inclusion: skglm"
Request for project inclusion in scikit-learn-contrib

* Project name: skglm
* Project description: skglm is a library that provide better sparse generalized linear model for scikit-learn. Its main features are:
  *speed*: problems with millions of features can be solved in seconds. Default solvers rely on efficient coordinate descent with numba just in time compilation.
    *flexibility*: virtual

[2022-04-23 20:13] agramfort commented on #54
I can take care of the transfer. @QB3 or @mathurinm can you give me admin access to the skglm repo so I can do the transfer?

[2022-04-27 08:00] mathurinm commented on #54
Thank you @agramfort
It is now in http://github.com/scikit-learn-contrib/skglm

The issue can be closed

[2022-04-27 08:02] #54 closed

[2022-08-07 20:35] big-o opened #56 "Request for project inclusion: skdag"
Request for project inclusion in scikit-learn-contrib

* Project name: skdag
* Project description: Directed acyclic graphs as metaestimators. `skdag` defines a new metaestimator, `DAG`, which works in a similar way to a pipeline except it supports much more complex workflows including advanced preprocessing, model stacking, benchmarking etc. Unlike many other requests to scikit-learn-contrib, thi

[2022-08-19 06:11] big-o commented on #56
Hi, just wanted to check if you have any thoughts on this?

[2022-08-19 10:13] adrinjalali commented on #56
This looks pretty descent to me! If there are no objections by others, I'm happy to have it moved under contrib.

[2022-08-21 14:07] big-o commented on #56
Thanks! Just let me know if/when the community is happy and I'll do what is needed at my end for the transfer.

[2022-08-26 09:42] adrinjalali commented on #56
Since there are no objections, if you add me as an owner to the repo, I can move it to the scikit-learn-contrib org.

[2022-08-26 10:09] big-o commented on #56
I've sent you an invite to become a collaborator, hopefully that will give you the access you need? I can't find any options to label someone as an 'owner'.

[2022-08-29 23:57] egy1st commented on #52
Hello @adrinjalali
any update?

[2022-08-30 09:26] adrinjalali commented on #56
I accepted it. I think you need to make me an "owner" for me to be able to move the repo :)

[2022-08-30 09:43] big-o commented on #56
Can you advise on how to do this? As far as I can tell it is not possible to add owners to a GitHub repo, only collaborators:

https://stackoverflow.com/questions/8015579/add-another-user-to-project-owners-in-github

I would give you more access if I could, but I can't find any other options in my project settings to give you any more permissions than I already have.

Can you just create a new clo

[2022-08-30 10:24] adrinjalali commented on #56
It's better to transfer the project since it'd transfer the issue/PR history as well.

I think you should be able to make me an "admin" if you go here: https://github.com/big-o/skdag/settings/access

[2022-08-30 10:33] adrinjalali commented on #52
Do you plan to maintain this library? It doesn't seem to have been maintained in the past 7 months or so.

[2022-08-30 10:49] big-o commented on #56
I'm afraid I have no such option to make anyone an admin. I've attached a screenshot of everything I have.

![Screenshot_20220830-114601.png](https://user-images.githubusercontent.com/1134151/187417778-5ed37545-5f44-4dff-b3a0-d5185a990ec5.png)

I wonder if this is because my project is an individual one and not part of an organization?

I do however have the ability to move the repo across to a ne

[2022-08-30 10:54] big-o commented on #56
While I don't have permission to transfer the project to sklearn-contrib, I DO have permission to transfer it to you. I have submitted a request to you to do this and if you approve you'll have ownership. Then hopefully you can move it to the correct project yourself.

[2022-08-30 10:59] adrinjalali commented on #56
Done, and you're an admin there now: https://github.com/scikit-learn-contrib/skdag/settings/access

[2022-08-30 11:03] big-o commented on #56
Many thanks! Is there anything else for me to do now, beyond maintaining the project as before?

[2022-08-30 11:04] adrinjalali commented on #56
Nope, thanks for contributing to the community. Feel free to add other maintainers to the project as you deem appropriate. All sklearn core devs have write access as well, but we usually don't interfere with the project.

Also happy to help if you have questions regarding building a community and all.

Happy hacking ❤️

[2022-08-30 11:04] #56 closed

[2022-08-30 11:19] big-o commented on #56
@adrinjalali thank you for your support! If you have any pointers on how to build a wider community I would love to hear them. The main reason for me requesting to join the project is exactly this. As an individual without a large following doing this as a side-project, it's difficult to gain the wider awareness needed to build up the user base needed to develop the project further. Hopefully bein

[2022-08-30 11:28] adrinjalali commented on #56
I've got some resources here, they might help: https://github.com/adrinjalali/talks/blob/master/2022/EuroPython-opensource-community/Product%2C%20Open%20Source%2C%20Community.pdf

[2022-10-04 17:05] anbarief commented on #30
Projection Pursuit is a very special case (simplified case with fewer parameters) of Neural Network model.

[2022-10-13 19:09] pavelkomarov commented on #30
It can be thought of that way, but the method of training is very different.

[2022-10-14 22:31] egy1st commented on #52
Hello @adrinjalali

Sure. I should mention that  this version was released after many many revisions as it seems from the rlease history on PyPi (https://pypi.org/project/denmune/#history); thus it is mostly stable. anyway, any issue reported, I work on it immediately as it is seen from the only issue reported since it was formly released (https://github.com/egy1st/denmune-clustering-algorithm/iss

[2022-10-17 07:59] adrinjalali commented on #52
Cool, this sounds good to me then. If there are no objections from others, happy to move the ownership under the contrib org this week.

[2022-10-17 18:41] egy1st commented on #52
I'm so happy and very excited to hear that. Thanks @adrinjalali

[2022-10-21 14:27] adrinjalali commented on #52
@egy1st  Since there are no objections, could you please transfer the repository's ownership to me, so that I can then move it to the contrib org, and then will add you as an owner there.

[2022-10-21 16:06] egy1st commented on #52
@adrinjalali Transfer request sent.

[2022-10-24 08:40] adrinjalali commented on #52
It's done, and you're an admin now: https://github.com/scikit-learn-contrib/denmune-clustering-algorithm

Please try to have all future contributions through PRs from your own fork :)

[2022-10-24 08:40] #52 closed

[2022-11-05 04:45] egy1st commented on #52
Hello @adrinjalali
would you please add this project to the projects listed in main readme page (https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/README.md)

Mohamed

[2022-11-07 09:42] adrinjalali commented on #52
Please send a PR and we can approve it :)